{# Order Product #}
{% for order in orders %}

<!-- Order details modal -->
<div class="modal fade orderDetail" id="order{{order.id}}">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-success justify-content-start pb-0">
        <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
        <p class="heading lead"> 
          مشخصات سفارش
          {{order.fullName}}
        </p>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center  ">
        <table  class="table pt-2 pb-2 text-center">
          <tbody>
            <tr class="text-center">
              <th>نام و نام خانوادگی</th>
              <th>شماره موبایل</th>
              <th>شماره تلفن</th>
              <th>کد ارسالی</th>
              <th>استان</th>
              <th>شهر</th>
            </tr>
            <tr>
              <td>{{order.fullName}}</td>
              <td>{{order.mobile}}</td>
              <td>{{order.telephone}}</td>
              <td>-</td>
              <td>{{order.state.name}}</td>
              <td>{{order.city.name}}</td>
            </tr>
            <tr class="text-center">
              <th>کد پستی</th>
              {# <th>کد پیگیری</th> #}
              {# <th>مبلغ مشارکت پایه</th> #}
            </tr>
            <tr>
              <td>{{ order.postalCode }}</td>
              {# <td>{{ order.trackingCode }}</td> #}
              {# <td>
                    <span>
                      {{'داخل شهر:'}}
                      {{user.internalPrice}}
                    </span>/
                    <span>
                      {{'حومه شهر:'}}
                      {{user.locallyPrice}}
                      </span>/
                    <span>
                      {{'روستا:'}}
                      {{user.villagePrice}}
                    </span>

              </td> #}
            </tr>
          </tbody>
        </table>
        <strong>آدرس:</strong>
        {{order.address}}
        <hr>
        <table  class="table pt-2 pb-2 text-center">
          <tbody>
            <tr class="text-center">
              <th>محصول</th>
              <th>نوع</th>
              <th>مبلغ</th>
              <th>تعداد</th>
              <th>تخفیف</th>
              <th>مبلغ مشارکت ویژه</th>
              <th>جمع</th>
            </tr>
            {% for item in order.products %}
              <tr class="text-center">

                <td>{{ item.product.name }}</td>
                {% if item.product_type is null %}
                  <td>{{ 'ندارد' }}</td>
                {% else %}
                  <td>{{ item.type.name }}</td>
                {% endif %}
                <td class="number">{{ item.product.price }}</td>
                <td>{{ item.count }}</td>
                <td class="number">{{ item.off }}</td>
                <td>
                  {% for share in user.tariffs %}

                    {% if share.product_id == item.product.id %}
                      {% if share.place == "internal" %}
                        {{'داخل شهر'}}
                      {% elseif share.place == "suburb" %}
                        {{'حومه شهر'}}
                      {% else %}
                        {{'روستا'}}
                      {% endif %}
                      {{':'}}
                      {{share.price | number_format}}
                      {{'<br />'}}
                    {% endif %}

                  {% endfor %}

                </td>
                <td class="row_total number">{{ (item.product.price * item.count) - item.off  }}</td>
              </tr>

            {% endfor %}

          </tbody>

        </table>
       <!-- 
        #########
        More Details
        #########
       -->
       <hr>
       <table  class="table pt-2 pb-2 text-center">
        <tbody>
          <tr class="text-center">
            <th>نوع پرداخت</th>
            <th>مبلغ پرداخت نقدی</th>
            <th>مبلغ پرداخت چکی</th>
            <th>پیش پرداخت</th>
          </tr>
          <tr class="text-center">
            {% if order.paymentMethod == "cash" %}
              <td>{{ 'نقدی' }}</td>
            {% else %}
              <td>{{ 'نقدی + چک' }}</td>
            {% endif %}
            <td class="number">{{ order.cashPrice | number_format }}</td>
            <td class="number">{{ order.chequePrice | number_format }}</td>
            <td class="pre_payment number">{{ order.prePayment | number_format }}</td>
          </tr>
          <tr class="text-center">
            <th>هزینه ارسال</th>
            <th>مبلغ مشارکت</th>
            <th>قابل پرداخت</th>
          </tr>
          <tr class="text-center">
            <td class="post_price number">{{order.shippingCost | number_format}}</td>
            <td class="number">0</td>
            <td class="total number"></td>
          </tr>
        </tbody>
        </table>
        <hr>
      <table  class="table bg-white pt-2 pb-2 text-center">
      <tbody>
          <tr class="text-center">
            <th>توضیحات ارسال</th>
            <th>توضیحات فروشنده</th>
          </tr>
          
              <tr class="text-center">
                <td>{{order.sendDescription}}</td>
                <td>{{ order.sellerDescription }}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--End order details modal -->
</div>
{% endfor %}
{# Order Product #}