{% extends 'Admin/Master/layout' %}

{% block title %}
   بایگانی سفارشات
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'بایگانی سفارشات'} %}
{% endblock %}

{% block content %}

  {% include 'Messages/switchSuccess' %}
  {% set user = auth_user() %}
  
   
     


  <div class="row">
    <div class="card col-sm-12">
     
                
                <!-- /.card-header -->
                <div class="card-body col-12 mx-auto">
                
                  <table  id="orderTable" class="table table-striped table-bordered table-sm text-center" cellspacing="0"
                width="100%">
                    <thead>
                    <tr>
                      <th></th>
                      <th class="d-none">شماره<br> سفارش</th>
                      <th>محصولات</th>
                      <th>تاریخ ثبت</th>
                      <th>استان-شهر</th>
                      <th>نام خریدار</th>
                      <th>نوع پرداخت</th>
                      <th>نماینده</th>
                      <th>فروشنده</th>
                      <th>کالسنتر</th>
                      <th>عملیات</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                      <tr>
                        <td></td>
                        <td class="d-none">{{order.id}}</td>
                        <td>
                          {% for ProductItem in order.products %}
                          <span>
                            {{ProductItem.product.name}}
                            {{' '}}
                            {% if ProductItem.type is not null %}
                              ({{ProductItem.type.name}})
                            {% endif %}
                          </span>
                          {% endfor %}
                        </td>
                        <td class="timestamp">{{order.created_at | date('Y-m-d')}}</td>
              
                        <td>{{order.state.name}}{{'-'}}{{order.city.name}}</td>
                        <td>{{order.fullName}}</td>
                        {% if order.paymentMethod == 'cash' %}
                          <td>{{'نقدی'}}</td>
                        {% else %}
                          <td>{{'غیر نقدی'}}</td>
                        {% endif %}
                        <td>
                          {{order.agent.name}}{{' '}}{{order.agent.family}}
                          {{'/'}}
                          {{order.agent.state.name}}{{'-'}}{{order.agent.city.name}}
                        </td>
                        <td>
                          {{order.seller.name}}{{' '}}{{order.seller.family}}
                          {{'/'}}
                          {{order.seller.state.name}}{{'-'}}{{order.seller.city.name}}
                        </td>
                        <td>{{''}}</td>
                        <td>
                          <a title="جزئیات این سفارش" class="text-secondary" data-toggle="modal" href="#order{{order.id}}">
                            <sub class="text-dark">
                              {{order.products.count()}}
                            </sub>
                            <i class="fas fa-shopping-basket crud-icon"></i>
                          </a>
                          <a title="فاکتور" class="text-secondary" href="{{route('orders.Factor',order.id)}}"
                          target="_blank">
                            <i class="fa fa-book crud-icon"></i>
                          </a>
                         
                          {# <a  title="ویرایش" class="text-warning mx-auto"
                            href="#">
                            <i class="far fa-edit crud-icon"></i>
                          </a> #}
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                    
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
          </div>
       
      {% if status == 7 %}
      <div class="row">
        <div class="col-6">
          <form class="" action="{{route('orders.AgentChangeOrderStatus')}}" id="conditionForm">
            <input type="hidden" name="_token" value="{{csrf_token()}}" />
            <label for="status">
              تعیین وضعیت تحویل
              <span class="text-danger">*</span>
            </label>
            <select class="p-2 pb-2 form-control col-sm-6" name="status">
              <option value="">گزینه ای انتخاب نشده</option>
              {% for bot_status in bottom_statuses %}
                <option value="{{bot_status.id}}">{{bot_status.name}}</option>
              {% endfor %}
         
            </select>
            <button class="col-sm-6  btn btn-success btn-sm mx-auto" type="submit" name="button">
              <strong class="h6">
                ذخیره
              </strong>
            </button>
          </form>
          <hr>
          
            {% set user = auth_user() %}
            {% if user.backToFollowManager != null %} 
            <form class="" action="{{route('orders.AgentChangeOrderStatus')}}" method="post" id="toFollowManagerForm"> 
              <button class="col-sm-6  btn btn-default mx-auto" type="submit" name="button">
                <strong class="h6">
                  برگشت به مدیر پیگیری
                </strong>
              </button>
              <input name="status" type="hidden"  value="8" />
            </form>
            {% else %}
              <button onclick="alert('این ویژگی برای شما در دسترس نیست')" title="این ویژگی برای شما در دسترس نیست" class="col-sm-6  btn btn-danger btn-sm mx-auto" type="submit" name="button">
                <strong class="h6">
                    <i class="fas fa-lock crud-icon"></i>
                  برگشت به مدیر پیگیری
                </strong>
              </button>
            {% endif %}

         </div>
        
      </div>
      {% endif %}
      
      {% if status == 3 %}
      <div class="row">
        <div class="col-6">
            {% set user = auth_user() %}
            {% if user.backToSeller is not null %}
              <form class="" action="{{route('orders.AgentChangeOrderStatus')}}" id="backToSellerForm">
                <input type="hidden" name="_token" value="{{csrf_token()}}" />
                <button class="col-sm-6  btn btn-info btn-sm mx-auto" type="submit" name="button">
                  <strong class="h6">
                    برگشت به فروشنده 
                  </strong>
                </button>
                <input type="hidden" name="status" value="6" />
            </form>
            {% else %}
                <button onclick="alert('شما به این ویژگی دسترسی ندارید')" title="شما به این ویژگی دسترسی ندارید" class="col-sm-6  btn btn-danger btn-sm mx-auto" type="submit" name="button">
                  <strong class="h6">
                    <i class="fas fa-lock crud-icon"></i>
                    برگشت به فروشنده 
                  </strong>
                </button>
            {% endif %}
             <form class="mt-4" action="{{route('orders.AgentChangeOrderStatus')}}" method="post" id="notAbleToSendForm">
                <button class="col-sm-6 btn btn-blue-grey  btn-sm mx-auto" type="submit" name="button">
                  <strong class="h6">
                    غیر قابل ارسال 
                  </strong>
                </button>
                <input type="hidden" name="status" value="9" />
            </form>
            <form class="" action="" method="post" id="">
                <button class="col-sm-6  btn btn-mdb-color btn-sm mx-auto" type="submit" name="button">
                  <strong class="h6">
                    اختصاص   
                  </strong>
                </button>
            </form>
           </div>
          <div class="col-6">
            <form class="" action="{{route('orders.chooseAgentForDelivary')}}" id="chooseAgentForm">
              <input type="hidden" name="_token" value="{{csrf_token()}}" />
              {# <h6>نوع ارسال:</h6>
                <div class="form-check">
                  <input type="radio" class="form-check-input" class="waitingDelivery" value="1" name="postType" checked>
                  <label class="form-check-label" for="waitingDelivery">در انتظار تحویل</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input"  value="2" name="postType" >
                  <label class="form-check-label" for="suspend">پیک</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input"  value="3" name="postType">
                  <label class="form-check-label" for="cancel">شکوه مهر</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value="3" name="postType">
                  <label class="form-check-label" for="cancel">چابک</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value="3" name="postType">
                  <label class="form-check-label" for="cancel">فارس پست</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value="3" name="postType">
                  <label class="form-check-label" for="cancel">فلوکس</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value="3" name="postType">
                  <label class="form-check-label" for="cancel">فروتل</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value="3" name="postType">
                  <label class="form-check-label" for="cancel">سپیده ماهان</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value="3" name="postType">
                  <label class="form-check-label" for="cancel">گیتوی پست</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value="3" name="postType">
                  <label class="form-check-label" for="cancel">لجیتو</label>
                </div> #}
                <div class="mt-4">
                  <label for="agent">
                    ارسال سفارش برای نماینده:
                    <span class="text-danger">*</span>
                  </label>
                  <select class="p-2 pb-2 form-control col-sm-6" name="agent">
                    <option value="{{null}}">گزینه ای انتخاب نشده</option>
                    {% for agent in agents %}
                        <option value="{{agent.id}}">
                          {{agent.name}}
                          {{' '}}
                          {{agent.family}}
                          {{'/'}}
                          {{agent.city.name}}
                        </option>
                    {% endfor %}
                  </select>
                </div>
              
              <button class="col-sm-6  btn btn-success btn-sm mx-auto" type="submit" name="button">
                <strong class="h6">
                  ارسال
                </strong>
              </button>
            </form>
            <hr>
            
          </div>
           
          
        </div>
      {% endif %}


      {# 
      ######### ORDERS START MODAL  
      #}
      {% include 'Admin/Master/Repetitive/order-details-modal' with {'orders':orders} %}
      {#
      ######### ORDERS END MODAL
      #}

<!-- Order condition modal -->
<div class="modal fade" id="condition">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-success justify-content-start pb-0">
        <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
        <p class="heading lead"> 
         تعیین وضعیت
        </p>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center ">
        <form action="{{route('orders.AgentChangeOrderStatus')}}" method="post" class="conditionAssignForm">
          <div class="row">
            <div class="col-6 text-right">
              <h6>انتخاب حالات دیگر:</h6>
              <div class="form-check">
                <input type="radio" class="form-check-input" class="waitingDelivery" value="7" name="condition" checked>
                <label class="form-check-label" for="waitingDelivery">در انتظار تحویل</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" class="suspend" value="14" name="condition" >
                <label class="form-check-label" for="suspend">معلق</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" class="cancel" value="13" name="condition">
                <label class="form-check-label" for="cancel">کنسلی</label>
              </div>
            </div>
            <div class="col-6 text-right">
              <div class="waitingDeliveryField">
                <label for="waitingDeliveryDesc">توضیحات:</label>
                <textarea rows="10" cols="50" class="form-control" type="text"  name="waitingDeliveryDesc" value="" placeholder="توضیحات وضعیت سفارش"></textarea>
              </div>
              <div class="suspendField d-none">
                <h6>انتخاب حالت تماس مجدد:</h6>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value="عدم پاسخگویی"  name="suspend">
                  <label class="form-check-label">عدم پاسخگویی</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value="خارج از دسترس" name="suspend" >
                  <label class="form-check-label">خارج از دسترس</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value="dueDate" name="suspend">
                  <label class="form-check-label">زمان سررسید</label>
                </div>
                <div class="dueDateFuild d-none">
                  <label>تاریخ: </label>
                  <input type="text" class="form-control persianDateTimepicker" name="dueDate">
                </div>
              </div>
              <div class="cancelField d-none">
                <h6>انتخاب حالت انصراف :</h6>
                 <div class="form-check">
                  <input type="radio" class="form-check-input" value="قیمت بالا" name="cancel">
                  <label class="form-check-label">قیمت بالا</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value="کیفیت پایین" name="cancel" >
                  <label class="form-check-label">کیفیت پایین</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value="ناکارآمد بودن" name="cancel">
                  <label class="form-check-label">ناکارآمد بودن </label>
                </div>
                 <div class="form-check">
                  <input type="radio" class="form-check-input" value="برآورده نکردن خواسته ها" name="cancel">
                  <label class="form-check-label">برآورده نکردن خواسته ها </label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value=" مزاحمت" name="cancel" >
                  <label class="form-check-label">  مزاحمت</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value="تماس دیروقت" name="cancel">
                  <label class="form-check-label">تماس دیروقت </label>
                </div>
                 <div class="form-check">
                  <input type="radio" class="form-check-input" value="خرید از مکان دیگر" name="cancel">
                  <label class="form-check-label"> خرید از مکان دیگر</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value="ثبت اطلاعات نامعتبر" name="cancel" >
                  <label class="form-check-label">ثبت اطلاعات نامعتبر (فروشنده)  </label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" value="cancelDesc" name="cancel">
                  <label class="form-check-label">توضیحات </label>
                </div>
                <div class="cancelDescField d-none">
                   <label for="cancelDesc">توضیحات:</label>
                    <textarea rows="10" cols="50" class="form-control " type="text"  name="cancelDesc" value="" placeholder="توضیحات دلیل کنسلی"></textarea>
                </div>
              </div>
            </div>
            <div class="col-12 text-center mt-5">
              <button class="btn btn-info" type="button" name="button">
                <strong class="">
                  اعمال
                </strong>
              </button>
            </div>
          </div>
        </from>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}


     
