{% for payment in payments %}
    <!-- Modal -->
    <div class="modal fade right" id="detail{{payment.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
        <div class="modal-dialog modal-side modal-bottom-left" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                مشخصات
                {# {{' '}}{{storeRoom.product.name}} #}
                </h5>
                
            </div>
            <div class="modal-body">
                    {# <img class="col-sm-12" src="{{storeRoom.product.cardUrl}}" /> #}
                    <div class="d-flex mt-3">
                        <div>نام:</div>
                        <div>
                            {{payment.user.name}}{{' '}}{{payment.user.family}}
                            {{'/'}}
                            {{payment.user.city.name}}
                            {{'-'}}
                            {{payment.user.state.name}}
                        </div>
                    </div>
                    <div class="d-flex">
                        <div>مبلغ:</div>
                        <div>
                        {{payment.bill | number_format}}
                        تومان
                        </div>
                    </div>
                     <div class="d-flex">
                        <div>توضیحات:</div>
                        <div>
                        {% if payment.billDesc is not null %}
                            {{payment.billDesc|raw}}
                        {% else %}
                            {{'ندارد'}}
                        {% endif %}
                        </div>
                    </div>
                    <div class="d-flex">
                        <div>تاریخ واریز:</div>
                        <div class="justDate">{{payment.billDate }}</div>
                    </div>
                    <div class="col-sm-12">
                        <div>تصویر :</div>
                        <img class="col-sm-12" src="/storage/{{payment.receiptImage}}" />
                    </div>
                 {# <a  class="btn btn-success btn-sm text-dark"
                    href="{{route('userInventory.AdminAcceptAgentPayment',payment.id)}}">
                    <strong class="h6">
                        تایید 
                    </strong>
                    <i class="fas fa-check crud-icon"></i>
                </a> #}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                
            </div>
            </div>
        </div>
    </div>
{% endfor %}