{# Dashboard #}
<li class="nav-item">
    <a href="{{route('admin.index')}}" class="nav-link">
        <i class="fas fa-tachometer-alt "></i>
        <p>
        داشبورد
        </p>
    </a>
</li>
{#  Report #}
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="far fa-folder-open"></i>
    <p>
        بایگانی
    <i class="fa fa-angle-left right"></i> 
    </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{route('report.Orders')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>سفارشات</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('report.Payments')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>پرداخت ها و عودت وجه</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('report.Costs')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>هزینه ها</p>
            </a>
        </li>
    </ul>
</li>
{#  Report #}
{# products #}
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="fas fa-box-open"></i>
        <p>
        محصولات
        <i class="fa fa-angle-left right"></i>   
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
        <a href="{{route('products.create')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>افزودن</p>
        </a>
        </li>
        <li class="nav-item">
        <a href="{{route('products.index')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>تمام محصولات</p>
        </a>
        </li>
    </ul>
</li>
{# products #}
{# warehouse #}
<li class="nav-item">
    <a href="{{route('warehouses.index')}}" class="nav-link">
        <i class="fas fa-boxes "></i>
        <p>لیست انبارها</p>
    </a>
</li>
{# warehouse #}
{# Users #}
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="fas fa-users "></i>
        <p>
            کاربران
        <i class="fa fa-angle-left right"></i> 
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{route('users.create')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>افزودن</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('users.sellers')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>فروشندگان</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('users.callCenters')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>کالسنترها</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('users.agents')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>نماینده ها</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('users.index')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>دیگر کاربران</p>
            </a>
        </li>
    </ul>
</li>
{# Users #}
{#  user-inventory #}
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="fas fa-calculator"></i>
    <p>
        امور مالی
    <i class="fa fa-angle-left right"></i> 
    </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{route('userInventory.AgentUnverifiedPayment')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>پرداخت های تایید نشده نماینده</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('userInventory.AgentUnverifiedCosts')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>هزینه های تایید نشده نماینده</p>
            </a>
        </li>
         <li class="nav-item">
            <a href="{{route('userInventory.AdminPaymentList')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>عودت وجه</p>
            </a>
        </li>
       
    </ul>
</li>
{#  user-inventory #}

{# Citites #}
<li class="nav-item">
    <a href="{{route('states.index')}}" class="nav-link">
    <i class="fas fa-city"></i>
    <p>استان ها</p>
    </a>
</li>
{# Citites #}
{# States #}
<li class="nav-item">
    <a href="{{route('cities.index')}}" class="nav-link">
    <i class="fas fa-building"></i>
    <p>
        شهر ها
    </p>
    </a>
</li>
{# States #}
{# Search #}
<li class="nav-item">
    <a href="{{route('search.AdminAdvancedSearchPage')}}" class="nav-link">
        <i class="fas fa-search"></i>
        <p>
        جستجو پیشرفته
        </p>
    </a>
</li>
{# Search #}
{#  setting #}
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="fas fa-cogs"></i>
    <p>
        تنظیمات
    <i class="fa fa-angle-left right"></i> 
    </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{route('admin.GeneralSetting')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>تنظیمات عمومی</p>
            </a>
        </li>
       
    </ul>
</li>
{#  setting #}