{#  Dashboard #}
<li class="nav-item">
    <a href="{{route('users.AgentDashboard')}}" class="nav-link">
        <i class="fas fa-tachometer-alt "></i>
        <p>
        داشبورد
        </p>
    </a>
</li>
{#  Dashboard #}
{#  orders #}
<li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="far fa-calendar-plus"></i>
        <p>
            سفارشات
        <i class="fa fa-angle-left right"></i> 
        </p>
        </a>
        <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{route('orders.AgentOrderLists')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p> سفارشات در انتظار تحویل</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('orders.AgentOrderCollectedlist')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p> سفارشات وصولی</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('orders.AgentOrderCanceledList')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p> سفارشات کنسلی</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('orders.AgentOrderSuspendedList')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p> سفارشات معلق</p>
            </a>
        </li>
        </ul>
    </li>
{#  orders #}
{#  WareHouse #}
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="fas fa-boxes "></i>
    <p>
        انبار
    <i class="fa fa-angle-left right"></i> 
    </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{route('storeRooms.AgentReceive')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>ورودی های تایید نشده</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.AgentIndexWarehouse')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>موجودی</p>
            </a>
        </li>
        
        {% if user.backToWareHouse != "on" %}
        <li title="این ویژگی برای شما در دسترس نیست" class="nav-item text-danger">
            <a  class="nav-link">
            <i class="fas fa-lock text-danger"></i>
            <p>برگشت به انبار تنخواه</p>
            </a>
        </li>
        {% else %}
            <li class="nav-item">
            <a href="{{route('storeRooms.returnToFundForm')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>برگشت به انبار تنخواه</p>
            </a>
        </li>
        {% endif %}

        <li class="nav-item">
            <a href="{{route('storeRooms.AgentIn')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>لیست ورودی</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.AgentOut')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>لیست خروجی</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.DeliveryToCustomersList')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>لیست تحویل به مشتری</p>
            </a>
        </li>
       
    </ul>
</li>
{#  WareHouse #}

{#  user-inventory #}
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="fas fa-calculator"></i>
    <p>
        امور مالی
    <i class="fa fa-angle-left right"></i> 
    </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{route('userInventory.AgentCurrentBills')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>صورت حساب جاری</p>
            </a>
        </li>
        {# <li class="nav-item">
            <a href="{{route('userInventory.AgentPaymentOrders')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>پرداخت سفارشات</p>
            </a>
        </li> #}
        {# <li class="nav-item">
            <a href="{{route('userInventory.AgentPrePaymentList')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>لیست پیش پرداخت ها</p>
            </a>
        </li> #}
        <li class="nav-item">
            <a href="{{route('userInventory.AgentPaymentList')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>لیست پرداخت ها</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('userInventory.AgentCostsList')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>لیست هزینه ها</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('userInventory.AgentPaybackList')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>لیست عودت وجه</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{url('/user-inventory/AgentpaymentSettlement')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>تسویه حساب ها</p>
            </a>
        </li>
    </ul>
</li>
{#  user-inventory #}

{# Search #}
<li class="nav-item">
    <a href="{{route('search.AgentAdvancedSearchPage')}}" class="nav-link">
        <i class="fas fa-search"></i>
        <p>
        جستجو پیشرفته
        </p>
    </a>
</li>
{# Search #}

{#  Report #}

<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="far fa-calendar-plus"></i>
    <p>
        گزارش
    <i class="fa fa-angle-left right"></i> 
    </p>
    </a>
    <ul class="nav nav-treeview">
       
        <li class="nav-item">
            <a href="{{route('search.AgentOrderSearchPage')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>سفارشات</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('report.AgentReportPaymentPage')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>مالی</p>
            </a>
        </li>
      
    </ul>
</li>