{#  Dashboard #}
<li class="nav-item">
    <a href="{{route('users.AgentDashboard')}}" class="nav-link">
        <i class="fas fa-tachometer-alt "></i>
        <p>
        داشبورد
        </p>
    </a>
</li>
{#  Dashboard #}
{#  WareHouse #}
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="fas fa-boxes "></i>
    <p>
        انبار
    </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{route('storeRooms.AgentReceive')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>ورودی های تایید نشده</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.AgentIndexWarehouse')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>موجودی</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.AgentIndexWarehouse')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>ورود و خروج</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.AgentIn')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>لیست ورودی</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.AgentOut')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>لیست خروجی</p>
            </a>
        </li>
       
    </ul>
</li>
{#  WareHouse #}
{#  orders #}
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="fas fa-boxes "></i>
    <p>
        سفارشات
    </p>
    </a>
    <ul class="nav nav-treeview">
    <li class="nav-item">
        <a href="{{route('orders.AgentOrderList')}}" class="nav-link">
        <i class="fas fa-chevron-circle-left"></i>
        <p>در انتظار تحویل</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
        <i class="fas fa-chevron-circle-left"></i>
        <p>وصول شده</p>
        </a>
    </li>
    </ul>
</li>
{#  orders #}