{# fund Warehouser #}
<li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="fas fa-boxes "></i>
            <p>
                انبار
            </p>
        </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{route('storeRooms.mainReceive')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>ورود از انبار مرکزی</p>
            </a>
        </li>
            <li class="nav-item">
            <a href="{{route('storeRooms.index')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>موجودی</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.AgentExchangesForm')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>ورود و خروج</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.in')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>لیست ورودی انبار</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.out')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>لیست خروجی انبار</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.SendToAgentList')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>کالاهای خروجی به انبار نماینده</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.AgentExchangeStorage')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>لیست انبار به انبار نماینده</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('users.index')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>برگشت کالا از انبار نماینده</p>
            </a>
        </li>
    </ul>
</li>
{# fund Warehouser #}