{# main WareHouser #}
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="fas fa-boxes "></i>
    <p>
        انبار
    <i class="fa fa-angle-left right"></i> 
    </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{route('storeRooms.acceptFromFundForm')}}" class="nav-link">
                <i class="fas fa-chevron-circle-left"></i>
                <p>برگشت از تنخواه</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.create')}}" class="nav-link">
                <i class="fas fa-chevron-circle-left"></i>
                <p>ورود و خروج</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.index')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>موجودی</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.in')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>لیست ورودی </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.out')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>لیست خروجی </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.storageManage')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>لیست انبار به انبار</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('storeRooms.returnFromFund')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p>مرجوعی از انبار تنخواه</p>
            </a>
        </li>
    </ul>
</li>
{# main WareHouser #}