{# Seller Dashboard #}
<li class="nav-item">
    <a href="{{route('users.SellerDashboard')}}" class="nav-link">
        <i class="fas fa-tachometer-alt "></i>
        <p>
        داشبورد
        </p>
    </a>
</li>
{# Seller Dashboard #}
{# Order #}
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="fas fa-phone"></i>
        <p>
        تماس
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{route('orders.create')}}" class="nav-link">
                <i class="fas fa-chevron-circle-left"></i>
                <p>ثبت سفارش جدید</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('orders.sellerOrderCallBack')}}" class="nav-link">
                <i class="fas fa-chevron-circle-left"></i>
                <p>تماس مجدد</p>
            </a>
        </li>
        {# <li class="nav-item">
            <a href="{{route('orders.OrdersForEdit')}}" class="nav-link">
                <i class="fas fa-chevron-circle-left"></i>
                <p>سفارشات قابل ویرایش</p>
            </a>
        </li> #}
        <li class="nav-item">
            <a href="{{route('orders.sellerNoActionOrders')}}" class="nav-link">
                <i class="fas fa-chevron-circle-left"></i>
                <p>سفارشات بدون اقدام</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{route('orders.receiveOrderFromFollowUpManager')}}" class="nav-link">
                <i class="fas fa-chevron-circle-left"></i>
                <p>سفارشات برگشت خورده</p>
            </a>
        </li>
        
    </ul>
</li>
{# Order #}