{% extends 'Admin/Master/layout' %}

{% block title %}
  داشبورد
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' %}
{% endblock %}

{% block content %}

  {% include 'Messages/switchSuccess' %}

<!-- Small boxes (Stat box) -->
<div class="row">
    <div style="flex-basis:225px;" class=" text-center bg-default shadow pt-3 pb-5 mx-auto">
        <strong class="text-white" style="font-size: .9rem">سفارشات تحویل داده شده نمایندگان</strong>
        <div>
          <i style="font-size:36px" class="fas fa-shopping-bag text-white mt-2"></i>
        </div>
    </div>
  <!-- ./col -->
  <div style="flex-basis:225px;" class=" text-center bg-secondary shadow pt-3 pb-5 mx-auto">
        <strong class="text-white" style="font-size: .9rem">سفارشات برگشت خورده نمایندگان</strong>
        <div>
          <i style="font-size:36px" class="fas fa-undo text-white mt-2"></i>
        </div>
    </div>
  <!-- ./col -->
  <div style="flex-basis:225px;" class=" text-center bg-info shadow pt-3 pb-5 mx-auto ">
        <strong class="text-white" style="font-size: .9rem">فاکتورهای در انتظار تحویل</strong>
        <div>
          <i  style="font-size:36px" class="far fa-file-alt text-white mt-2"></i>
        </div>
    </div>
  <!-- ./col -->
   <div style="flex-basis:225px;" class=" text-center bg-warning shadow pt-3 pb-5 mx-auto">
        <strong class="text-white" style="font-size: .9rem">مالی مدیر نماینده</strong>
        <div>
          <i style="font-size:36px" class="far fa-money-bill-alt text-white mt-2"></i>
        </div>
    </div>
  <!-- ./col -->
</div>
<!-- /.row -->
<div class="row mt-5 mb-5">
  {# item #}
  <div class="col-sm-4">
    <table class="table table-bordered table-striped">
        <div class="bg-primary pt-3 pb-3 text-center dana-bold">درصد وصولی نمایندگان</div>
    <tbody>
    {% for agentDetail in CollectedPercentDetails %}
     <tr>
        <td>
          {{agentDetail.name}}
          {{'/'}}
          {{agentDetail.city_state}}
        </td>
        <td>
          {{agentDetail.percent}}
          <i style="font-size:14px;" class="fas fa-percentage"></i>
        </td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
  </div>
  {# end item #}
 {# item #}
  <div class="col-sm-4">
    <table class="table table-bordered table-striped">
        <div class="bg-primary pt-3 pb-3 text-center dana-bold">تعداد فاکتورهای در انتظار تحویل نمایندگان</div>
    <tbody>
      {% for agentDetail in CollectedPercentDetails %}
      <tr>
        <td>
            {{agentDetail.name}}
            {{'/'}}
            {{agentDetail.city_state}}
        </td>
        <td>
            {{agentDetail.delivaryOrders}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  {# end item #}
  {# item #}
  <div class="col-sm-4">
    <table class="table table-bordered table-striped">
        <div class="bg-primary pt-3 pb-3 text-center dana-bold">مبالغ بدهی نمایندگان</div>
    <tbody>
      {% for agentDetail in CollectedPercentDetails %}
      <tr>
        <td>
            {{agentDetail.name}}
            {{'/'}}
            {{agentDetail.city_state}}
        </td>
        <td>
          {{agentDetail.balance | number_format}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  {# end item #}
</div>








{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}