{% extends 'Admin/Master/layout' %}

{% block title %}
  داشبورد
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'پنل شما'}%}
{% endblock %}

{% block content %}

  {% include 'Messages/switchSuccess' %}

  <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
              <div class="info-box">
                <span class="info-box-icon bg-info elevation-1">
                  <i class="far fa-calendar-alt"></i>
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">سفارشات در انتظار تحویل</span>
                  <span class="info-box-number">
                    {{ WaitingForDelivery.count() }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-4 ">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-secondary elevation-1">
                  <i class="far fa-calendar-times"></i>
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">سفارشات معلق</span>
                  <span class="info-box-number">{{ subsended.count() }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-4 ">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1">
                  <i class="far fa-calendar-check"></i>
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">سفارشات تحویل داده شده</span>
                  <span class="info-box-number">{{ collected.count() }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-4 ">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1">
                  <i class="far fa-calendar-minus"></i>
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">سفارشات برگشت خورده</span>
                  <span class="info-box-number">{{ Returned.count() }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-4 ">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1">
                  <i class="fas fa-level-up-alt"></i>
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">سطح</span>
                  <span class="info-box-number">{{user.level}}</span>
                  <input type="hidden" id="userId" value="{{user.id}}"></input>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-4 ">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-primary elevation-1">
                  <i class="fas fa-calculator"></i>
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">درصد وصول</span>
                  <span class="info-box-number">
                      {{collectedPercent}}
                      ٪
                    </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>


          <div class="row mt-5 mb-5">
            {# item #}
            <div class="col-sm-6 mx-auto">
          <table class="table table-borderless table-striped">
            <thead>
              <tr>
                <th class="bg-primary text-center dana-bold">صورت حساب جاری شما</th>
              </tr>
            </thead>
          <tbody>
              <tr>
                <td class="d-flex">
                    <div class="col-10 mx-auto">
                    مجموع فروش
                    </div>
                    <div class="col-2 mx-auto">
                        1,500,000
                    </div>
                </td>
              </tr>
              <tr>
                <td class="d-flex">
                    <div class="col-10 mx-auto">
                      مجموع پیش واریزی
                    </div>
                    <div class="col-2 mx-auto">
                        500,000
                    </div>
                </td>
              </tr>
              <tr>
                <td class="d-flex">
                    <div class="col-10 mx-auto">
                      هزینه حمل
                    </div>
                    <div class="col-2 mx-auto">
                        50,000
                    </div>
                </td>
              </tr>
              <tr>
                  <td class="d-flex">
                      <div class="col-10 mx-auto">
                        مجوع چک ها
                      </div>
                      <div class="col-2 mx-auto">
                          50,000
                      </div>
                  </td>
                </tr>
                <tr>
                    <td class="d-flex">
                        <div class="col-10 mx-auto">
                          مجموع چکهای تایید شده
                        </div>
                        <div class="col-2 mx-auto">
                            50,000
                        </div>
                    </td>
                  </tr>
                  <tr>
                      <td class="d-flex">
                          <div class="col-10 mx-auto">
                            مجموع پرداختی
                          </div>
                          <div class="col-2 mx-auto">
                              50,000
                          </div>
                      </td>
                    </tr>
                    <tr>
                        <td class="d-flex">
                            <div class="col-10 mx-auto">
                                مجموع مبلغ مشارکت
                            </div>
                            <div class="col-2 mx-auto">
                                50,000
                            </div>
                        </td>
                      </tr>
                      <tr>
                          <td class="d-flex">
                              <div class="col-10 mx-auto">
                                  مجموع مبلغ عودت وجه
                              </div>
                              <div class="col-2 mx-auto">
                                  50,000
                              </div>
                          </td>
                        </tr>
                        <tr>
                            <td class="d-flex">
                                <div class="col-10 mx-auto">
                                    مجموع مبلغ هزینه ها
                                </div>
                                <div class="col-2 mx-auto">
                                    50,000
                                </div>
                            </td>
                          </tr>
                    </tbody>
                  </table>
            </div>
            {# end item #}
            {# item #}
            <div class="col-sm-6  mx-auto">
              <table class="table table-borderless table-striped">
              <thead>
                <tr>
                  <th class="bg-warning text-center dana-bold">مبلغ بدهی شما</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="d-flex">
                      <div class="col-10 mx-auto">
                      تخفیف
                      </div>
                      <div class="col-2 mx-auto">
                          100,000
                      </div>
                  </td>
                </tr>
                <tr>
                  <td class="d-flex">
                    <div class="col-10 mx-auto">
                      جایزه
                    </div>
                    <div class="col-2 mx-auto">
                        5
                    </div>
                </td>
                </tr>
                <tr>
                  <td class="d-flex">
                    <div class="col-10 mx-auto">
                      امتیاز
                    </div>
                    <div class="col-2 mx-auto">
                        5
                    </div>
                </td>
                </tr>
                <tr>
                  <td class="d-flex">
                      <div class="col-10 mx-auto">
                        مبلغ بدهی شما
                      </div>
                      <div class="col-2 mx-auto">
                          5
                      </div>
                  </td>
                  </tr>
                  <tr>
                    <td class="d-flex">
                        <div class="col-10 mx-auto">
                          بدهی چکی شما
                        </div>
                        <div class="col-2 mx-auto">
                            5
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="d-flex">
                        <div class="col-10 mx-auto">
                          بدهی نقدی شما
                        </div>
                        <div class="col-2 mx-auto">
                            5
                        </div>
                  </td>
                  </tr>
                  <tr>
                      <td class="d-flex">
                          <div class="col-10 mx-auto">
                            مانده حساب
                          </div>
                          <div class="col-2 mx-auto">
                              5
                          </div>
                      </td>
                    </tr>
              </tbody>
            </table>
            </div>
            {# end item #}

          </div>


         {# chart #}
          <div class="row text-center d-block mt-5">
            <h4 ></h4>
            <hr width="300px" style="border-bottom:5px solid red;" />
          {# chart #}
            <div class="card mt-3">
              <div class="card-header no-border">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">وضعیت سفارش ها</h3>
                    {# <a href="javascript:void(0);">مشاهده گزارش</a> #}
                </div>
              </div>
              <div class="card-body">
                <div class="d-flex">

                </div>
                <!-- /.d-flex -->

                <div class="position-relative mb-4">
                  <canvas id="visitors-chart" height="200"></canvas>
                </div>
                  <div class="text-right mb-2">
                    <strong>
                      راهنمای نمودار:
                    </strong>
                  </div>
                <div class="d-flex flex-row justify-content-start">
                  <span class="ml-2">
                    <i class="fa fa-square text-info"></i> سفارشات وصولی
                  </span>
                  <span class="ml-2">
                    <i class="fa fa-square text-danger"></i> سفارشات کنسلی
                  </span>
                  <span class="ml-2">
                    <i class="fa fa-square text-warning"></i> سفارشات در انتظار و معلق
                  </span>

                </div>
              </div>
            </div>
            <!-- /.chart -->
          </div>
          {# end chart #}

{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}
