{% extends 'Admin/Master/layout' %}

{% block title %}
  شهرهای ایران
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{asset('AdminPanel/select2/select2.min.css')}}">
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'شهرهای ایران'} %}
{% endblock %}

{% block content %}
  {% include 'Messages/message' %}
  {% include 'Messages/custom_error' %}

  <div class="row">
    <div class="col-sm-10 mx-auto">
      <form class="mx-auto" action="{{route('states.store')}}" method="post">
        <input type="hidden" name="_token" value="{{csrf_token()}}" />
        <div class="input-group mb-3 col-sm-10">
          <input type="text" class="form-control" name="name" placeholder="شهر مورد نظر را وارد کنید" required>

          <div class="input-group-append  col-sm-4 form-control">
            <select class="form-control  bg-white cities-name col-sm-12" name="city">
              {% for city in cities %}
              <option value="{{city.id}}">{{city.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-group-append">
            <button class="input-group-text text-success">
                <i class="far fa-plus-square crud-icon"></i>
            </button>
          </div>


        </div>
      </form>
      <table  id="example2" class="table table-bordered table-striped  bg-white pt-2 pb-2">
        <thead>
        <tr>
          <th class="text-center">استان</th>
          <th class="text-center">شهر</th>
          <th class="text-center">عملیات</th>
        </tr>
        </thead>
        <tbody>
        {% for state in states %}
          <tr>
            <td class="text-center">{{state.name}}</td>
            <td class="text-center">{{state.city.name}}</td>
            <td class="text-center">
              {# edit #}
              <a  class="text-warning" data-toggle="modal" href="#state{{state.id}}">
                <i class="far fa-edit crud-icon"></i>
              </a>
              <a  class="text-danger" data-toggle="modal" href="#stateDelete{{state.id}}">
                <i class="far fa-trash-alt crud-icon"></i>
              </a>
            </td>
          </tr>
      {% endfor %}
        </tbody>

      </table>
      <ul class="mx-auto col-sm-2">
        {{states.render() | raw}}
      </ul>
    </div>

  </div>

{# edit modal #}
  {% for state in states %}
  <!-- The Modal -->
  <div class="modal fade" id="state{{state.id}}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">

          <form action="{{route('states.update',state.id)}}" method="post">
            <input type="hidden"name="_token" value="{{csrf_token()}}" />
            <input type="hidden"name="_method" value="put" />
            <div class="input-group mb-3">
              <input type="text" value="{{state.name}}" class="form-control" name="name" placeholder="نام استان را وارد کنید" required>
                <div class="input-group-append  col-sm-12 form-control">
                    <select style="width:100%;" class="form-control  bg-white cities-name " name="city">
                        <option value="{{state.city.id}}">{{state.city.name}}</option>
                        {% for city in cities %}
                            <option value="{{city.id}}">{{city.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group-append">
                <button class="input-group-text ">
                    <i class="far fa-arrow-alt-circle-up crud-icon text-success"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
            بستن
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
{% endfor %}
{# end edit modal #}
{% for state in states %}
<!-- The Modal -->
<div class="modal fade " id="stateDelete{{state.id}}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header ">

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center ">
        <i class="fas fa-exclamation-triangle text-danger"></i>
          آیا از این بابت مطمئنید؟
        <form action="{{route('states.destroy',state.id)}}" method="post">
          <input type="hidden" name="_token" value="{{csrf_token()}}" />
          <input type="hidden" name="_method" value="delete" />
          <div class="input-group mb-3 mx-auto">

            <div class="text-center">


            </div>
          </div>

      </div>
      <div class="card-footer text-center">
        <button type="submit" class="col-sm-3 btn btn-outline-danger">
            بله
        </button>
      </div>

      </form>
    </div>
  </div>
</div>

</div>
{% endfor %}

{# delete modal #}



{# end delete modal #}

{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}

{% block scripts %}
  <script src="{{asset('AdminPanel/select2/select2.full.min.js')}}"></script>
  <script type="text/javascript">
  // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
      $('.cities-name').select2();
    });
  </script>
{% endblock %}
