{% extends 'Admin/Master/layout' %}

{% block title %}
  استانهای ایران
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'استانهای ایران'} %}
{% endblock %}

{% block content %}
  {% include 'Messages/message' %}
  {% include 'Messages/errors' %}

  <div class="row">
    <div class="col-sm-6 mx-auto">
      <form  action="{{route('states.store')}}" method="post">
        <input type="hidden" name="_token" value="{{csrf_token()}}" />
        <div class="input-group mb-3 md-form">
          <input id="inputValidationEx" type="text" class="form-control" name="name" placeholder="نام استان را وارد کنید" required>
          <div class="input-group-append">
            <button type="submit" class="btn btn-sm btn-info input-group-text text-dark">
                <i class="far fa-plus-square crud-icon"></i>
            </button>
          </div>
        </div>
      </form>
      <table  id="example2" class="table table-bordered table-striped  bg-white pt-2 pb-2">
        <thead>
        <tr>
          <th class="text-center">نام استان</th>
          <th class="text-center">عملیات</th>
        </tr>
        </thead>
        <tbody>
        {% for state in states %}
          <tr>
            <td class="text-center">{{state.name}}</td>
            <td class="text-center">
              {# edit #}
              <a  class="text-warning" data-toggle="modal" href="#state{{state.id}}">
                <i class="far fa-edit crud-icon"></i>
              </a>
              {# delete #}
              <a class="text-danger"  data-toggle="modal" href="#cityDelete{{state.id}}">
                  <i class="far fa-trash-alt crud-icon"></i>
              </a>

            </td>
          </tr>
        {% endfor %}
        </tbody>

      </table>
      <ul class="mx-auto">
        {{states.render() | raw}}
      </ul>
    </div>

  </div>


  {% for state in states %}
  <!-- The Modal -->
  <div class="modal fade" id="state{{state.id}}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form action="{{route('states.update',state.id)}}" method="post">
            <input type="hidden"name="_token" value="{{csrf_token()}}" />
            <input type="hidden"name="_method" value="put" />
            <div class="input-group mb-3 md-form">
              <input value="{{state.name}}" id="inputValidationEx" type="text" class="form-control" name="name" placeholder="نام استان را وارد کنید" required>
              <div class="input-group-append">
                <button type="submit" class="btn btn-sm btn-primary  input-group-text text-light">
                    <i class="fas fa-pencil-alt crud-icon"></i>
                </button>
              </div>
            </div>
          </form>


        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
            بستن
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
{% endfor %}


{% for state in states %}
  <!-- The Modal -->
  <div class="modal fade" id="cityDelete{{state.id}}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">

          <form action="{{route('states.destroy',state.id)}}" method="post">
            <input type="hidden"name="_method" value="delete" />
            <input type="hidden" name="_token" value="{{csrf_token()}}" />

              <div class="text-center">
                  آیا از پاک کردن استان
                  <strong class="text-danger">
                    {{state.name}} 
                  </strong>
                   مطمئن هستید؟
              </div>
              
          


        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button class="btn btn-danger btn-sm row ">
                  <strong class="h6 text-light col-3">
                      بله.مطمئنم
                    <i class="fas fa-trash-alt"></i>
                  </strong>
            </button>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>
{% endfor %}

{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}
