{% extends 'Admin/Master/layout' %}

{% block title %}
   تماس مجدد
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'تماس مجدد'} %}
{% endblock %}

{% block content %}

  {% include 'Messages/switchSuccess' %}

  <div class="row">
   
    <div class="card col-sm-12">
     
                <div class="card-header">
                  {# <a class="col-3 btn btn-warning btn-sm" href="#">
                    <strong class="h6 text-dark">
                      برگشت به مدیر پیگیری
                    </strong>
                  </a> #}

                  
                </div>
                <!-- /.card-header -->
                <div class="card-body col-12 mx-auto">
                
                  <table  id="orderTable" class="table table-striped table-bordered table-sm text-center" cellspacing="0"
                width="100%">
                    <thead>
                    <tr>
                      <th></th>
                      <th class="d-none">شماره سفارش</th>
                      <th>تاریخ اقدام</th>
                      {# <th>تاریخ تخصیص</th> #}
                      <th>استان-شهر</th>
                      <th>کد پستی</th>
                      <th>نام خریدار</th>
                      <th>همراه-ثابت</th>
                      <th>نوع پرداخت</th>
                      <th>کالسنتر</th>
                      <th>نماینده</th>
                      <th>زمان سررسید</th>
                      <th>حالت</th>
                      <th>عملیات</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                      <tr>
                        <td></td>
                        <td class="d-none">{{order.id}}</td>
                        <td>{{'-'}}</td>
                        {# <td>{{'-'}}</td> #}
                        <td>{{order.state.name}}{{'-'}}{{order.city.name}}</td>
                        <td>{{order.postalCode}}</td>
                        <td>{{order.fullName}}</td>
                        <td>{{order.mobile}}<br>{{order.telephone}}</td>
                        {% if order.paymentMethod == 'cash' %}
                          <td>{{'نقدی'}}</td>
                        {% else %}
                          <td>{{'غیر نقدی'}}</td>
                        {% endif %}
                        <td>{{''}}</td>
                        <td>{{order.agent.name}}{{' '}}{{order.agent.family}}</td>
                        <td>{{''}}</td>
                        <td>{{'-'}}</td>
                        <td>
                          <a title="جزئیات این سفارش" class="text-secondary" data-toggle="modal" href="#order{{order.id}}">
                            <sub class="text-dark">
                              {{order.products.count()}}
                            </sub>
                            <i class="fas fa-shopping-basket crud-icon"></i>
                          </a>
                          
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                    
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
          </div>

      <div class="row">
        <div class="col-6">
          <form class="" action="{{route('orders.AgentChangeOrderStatus')}}" id="conditionForm">
            <label for="status">
              تعیین وضعیت
              <span class="text-danger">*</span>
            </label>
            <select class="p-2 pb-2 form-control col-sm-6" name="status">
                <option  value="{{null}}">{{'گزینه ای انتخاب نشده است'}}</option>
                <option  value="7">{{'برگشت به چرخه تحویل'}}</option>
                <option  value="16">{{'انصراف نهایی'}}</option>
            </select>
            <button class="col-sm-6  btn btn-success btn-sm mx-auto" type="submit" name="button">
              <strong class="h6">
                ذخیره
              </strong>
            </button>
          </form>
          <hr>
        </div>
         <div class="col-6">
            <button class="btn btn-info btn-sm mx-auto" type="button" name="button">
                <strong class="h6">
                  چاپ
                </strong>
            </button>
            <button class="btn btn-secondary btn-sm mx-auto" type="button" name="button">
                <strong class="h6">
                  اکسل
                </strong>
            </button>
         </div>
        
      </div>
     

          
      {# 
      ######### ORDERS START MODAL  
      #}
      {% include 'Admin/Master/Repetitive/order-details-modal' with {'orders':orders} %}
      {#
      ######### ORDERS END MODAL
      #}



{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}

