{% extends 'Admin/Master/layout' %}

{% block title %}
  صورت حساب جاری
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
  <style>
    #current_bill_form td{
     direction:ltr;
    }
  </style>
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'صورت حساب جاری'} %}
{% endblock %}

{% block content %}

            <div class="container col-sm-12">
              {# item #}
              <div class="row">
                <div class="col-md-6">
                   <div class="card">
                    <div class="card-header text-center bg-info">
                     <i class="fa fa-book crud-icon"></i>
                      صورت حساب جاری شما  
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body col-12 mx-auto">
                      <table class="table table-sm text-center no-border">
                        <tr>
                            <th scope="row">مجموع کل فروش</th>
                            <th scope="col">
                              {{ AllSell | number_format }}
                              تومان
                            </th>
                        </tr>
                        <tr>
                          <th scope="row">مجموع واریزی</th>
                          <th scope="col">
                              {{ payments | number_format }}
                              تومان
                          </th>
                        </tr>
                        <tr>
                            <th scope="row">هزینه  ها</th>
                            <td>
                              {{ costs | number_format}}
                              تومان
                            </td>
                        </tr>
                        {# <tr>
                            <th scope="row">مجموع چک ها</th>
                            <td>10000</td>
                        </tr> #}
                        {# <tr>
                            <th scope="row">مجموع چک های تایید شده</th>
                            <td>10000</td>
                        </tr> #}
                        {# <tr>
                            <th scope="row">مجموع پرداختی</th>
                            <td>10000</td>
                        </tr> #}
                        <tr>
                            <th scope="row">مجموع مبلغ مشارکت</th>
                            <th scope="col">
                                {{ AllSpecialShared | number_format }}
                                تومان
                            </th>
                        </tr>
                        
                        
                    
  
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header text-center bg-info">
                    <i class="fas fa-money-check-alt"></i>
                      مبلغ بدهی شما
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body col-12 mx-auto">
                      <table class="table table-sm text-center no-border">
                        <tr>
                          <th scope="row">جایزه</th>
                          <td>
                            {{ user.gift | number_format }}
                            تومان
                          </td>
                        </tr>
                        {# <tr>
                            <th scope="row">امتیاز</th>
                            <td>10000</td>
                        </tr> #}
                        <tr>
                            <th scope="row">مجموع بدهی شما</th>
                            <td>
                              {% set AllDebtor = AllSell - (payments + AllSpecialShared + costs) %}
                              {{ AllDebtor | number_format}}
                              تومان
                              
                            </td>
                        </tr>
                        {# <tr>
                            <th scope="row">بدهی چکی شما</th>
                            <td>10000</td>
                        </tr>
                        <tr>
                            <th scope="row">بدهی نقدی شما</th>
                            <td>10000</td>
                        </tr> #}
                        <tr>
                          <th scope="row">مانده حساب</th>
                          
                            {% set balance = AllDebtor - user.gift %}
  
                            {% if balance >= 0 %}
                              <td class="text-danger">
                              {{ balance | number_format }}
                              تومان
                              </td>
                            {% else %}
                              <td class="text-primary">
                              {{ balance | abs | number_format }}
                              تومان
                              </td>
                            {% endif %}
                        </tr>
                        {% if balance < 0 %}
                        <tfoot>
                          <tr class="text-center bg-success pt-2 pb-2">
                            <td colspan="2">
                              <i class="fas fa-info"></i>
                              نماینده عزیز شما مبلغ
                              {{ balance | abs | number_format }}
                              تومان را از سیستم طلب دارید
                            </td>
                        {% endif %}
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
              </div>
            </div>







          <div class="row">
            <div class="card col-sm-12 p-3">
          
                <div class="p-2 text-center">
                  <strong>
                    تراکنش شما در 30 روز گذشته
                  </strong>
                </div>
                <table id="current_bill_form" class="table table-striped table-bordered table-sm text-center" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>تاریخ</th>
                      <th>عنوان</th>
                      <th>بدهکار</th>
                      <th>بستانکار</th>
                      <th>مشارکت</th>
                      <th>مانده</th>
                    </tr>
                  </thead>
                  
                </table>
              </div>
            </div>
          </div>


          {# <div class="row">
            <div class="card col-sm-12 p-3">
          
                <div class="p-2 text-center">
                  <strong>
                    تراکنش شما در 30 روز گذشته
                  </strong>
                </div>
                <table  class="table table-striped table-bordered table-sm text-center" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>تاریخ</th>
                      <th>عنوان</th>
                      <th>بدهکار</th>
                      <th>بستانکار</th>
                      <th>مشارکت</th>
                      <th>مانده</th>
                    </tr>
                  </thead>
                  {% for item in transaction %}
                    {% if item.billDate is defined %}    
                      <tr>
                        <td class="justDate" >{{item.billDate}}</td>
                          {% if item.status_id == 2 %}
                            <td>{{'واریزی'}}</td>
                          {% else %}
                            <td>{{'ثبت هزینه'}}</td>
                          {% endif %}
                        <td>{{'---'}}</td>
                        <td>{{ item.bill | number_format }}</td>
                        <td>{{'---'}}</td>
                        <td></td>
                      </tr>
                    {% else %}
                      <tr>
                        <td class="justDate">{{ item.collected_Date }}</td>
                        <td> {{'فاکتور شماره'}} {{' '}}{{item.id}}</td>
                        <td>{{ item.cashPrice }}</td>
                        <td>{{'---'}}</td>
                     
                        <td>{{ sharedSpecialAmount }}</td>
                        <td></td>
                      </tr>
                    {% endif %}

                  {% endfor %}
                </table>
              </div>
            </div>
          </div> #}












{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}