{% extends 'Admin/Master/layout' %}

{% block title %}   
  برگشت به انبار تنخواه
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'برگشت به انبار تنخواه'} %}
{% endblock %}

{% block content %}

    {% include 'Messages/message' %}
    {% include 'Messages/info' %}
    {% include 'Messages/errors' %}

   <div class="bg-white">
         
    <ul class="nav nav-tabs " id="myTab" role="tablist">
       
        <li class="nav-item">
            <a class="nav-link dana-bold text-dark active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">برگشت به انبار تنخواه</a>
        </li>
    </ul>
<div class="tab-content " id="myTabContent">
    <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">

         <form id="returnToFund" class="row bg-white pt-3 pb-3" action="{{route('storeRooms.returnToFund')}}" method="post" enctype="multipart/form-data">
            <input type="hidden"    name="_token" value="{{csrf_token()}}" />
            <input type="hidden"    name="in_out" value="{{'returnToFund'}}" />
            
            <div class="col-sm-6">
                <div class="row">
                    
                     <div class="md-form col-sm-8 mt-5 mx-auto">
                        <input type="text" value="" name="date" class="form-control cursor-pointer persianDatePicker" autocomplete="off">
                        <label for="date-picker-example">تاریخ</label>
                    </div>
                  
                    <div class="col-sm-8 mt-5 mx-auto">
                        <label for="product">محصول</label>
                        <select class="form-control" name="product">
                            <option {% if old('product') != null %} style="display:none" {% endif %} value="{{null}}">محصول را انتخاب کنید</option>
                        {% for storage in storages %}
                            <option {% if old('product') == storage.product.id %} selected {% endif %}value="{{storage.product.id}}">{{storage.product.name}}</option>
                        {% endfor %}
                        </select>
                        
                    </div>
                    {# number #}
                    <div class="md-form col-sm-8 mt-5 mx-auto">
                        <input value="{{old('number')}}" type="text" id="inputIconEx5" class="form-control" name="number" >
                        <label for="inputIconEx5">تعداد</label>
                        <span class="text-secondary">
                            ارزش به تومان:
                            <span class="cargoValue">0</span>
                        </span>
                    </div>
                    {# end number #}
                    
                    {# description #}
                    <div class="md-form col-sm-8 mt-5 mx-auto">
                        <i class="fas fa-pencil-alt prefix text-dark"></i>
                        <textarea name="description" id="form10" class="md-textarea form-control" rows="2" cols="80">{{old('description')}}</textarea>
                        <label for="form10">توضیحات</label>
                    </div>
                    {# description #}
                    {# transports #}
                    {# <div class="col-sm-8 mt-5 mx-auto">
                        <label for="transport">وسیله ارسال</label>
                        <select class="form-control" name="transport">
                            <option {% if old('transport') != null %} style="display:none" {% endif %} value="{{null}}">وسیله ارسال را انتخاب کنید</option>
                        {% for transport in transports %}
                            <option {% if old('transport') == transport.id %} selected {% endif %} value="{{transport.id}}">{{transport.name}}</option>
                        {% endfor %}
                        </select>
                    </div> #}
                    {# transports #}
                </div>
            </div>


            <div class="col-sm-6">
                <div class="row">
                    {# receiver #}
                        <input type="hidden" name="status" value="برگشت کالا به انبار تنخواه" />
                    {# receiver #}
                    
                </div>
            </div>


            
            <div class="col-sm-6 mt-5 mx-auto">
                <button class="btn btn-info">
                    <strong class="">
                        ذخیره
                    </strong>
                </button>
            </div>
        </form>
        

    </div>
</div>

   </div>
{% endblock %}

{% block footer %}
    {% include 'Admin/Master/footer' %}
{% endblock %}

