<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>فاکتور</title>

  {% include 'Admin.Master.styles' %}
</head>
<body>
    <div class="container-fluid invoiceWrapper mx-auto">
        <div class="row">
            <div class="col-12 mt-4">
              <table class="table table-bordered invoice_table">
                <tbody>
                  <tr>
                    <td class="text-center" rowspan="3"><p class="mt-4">
                      {{'فروشگاه:'}}
                       {{ Factor.option2 }}
                    </p></td>
                    <td class="text-center" rowspan="3"> <h5 class="mt-3">فاکتور فروش</h5></td>
                    <td >
                      {{'مرکز فروش:'}}
                      {{ Factor.option3 }} 
                    </td>
                  </tr>
                  <tr>
                    <td>
                    {{'فروشنده:'}}
                    {{order.seller.name}}{{' '}}{{order.seller.family}}
                    </td>
                  </tr>
                    <tr>
                    <td>
                    {{'پیک:'}}
                    {{order.agent.name}}{{' '}}{{order.agent.family}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr>
            <div class="col-12">
              <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td>
                        {{'به نام:'}}
                        {{order.fullName}}
                      </td>
                      <td>
                        {{'تلفن:'}}
                        {{order.telephone}}
                      </td>
                      <td>
                        {{'موبایل:'}}
                        {{order.mobile}}
                      </td>
                      <td>
                        {{'کد فاکتور:'}}
                      </td>
                      <td>
                        {{'تخفیف:'}}
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        {{'آدرس:'}}
                        {{order.address}}
                      </td>
                      <td>
                        {{'مبلغ پیش واریزی :'}}
                        {{order.prePayment}}
                      </td>
                      <td>
                        {{'هزینه ارسال:'}}
                        
                      </td>
                    </tr>
                      <tr>
                      <td colspan="2">
                        {{'کد پستی:'}}
                        {{order.postalCode}}
                      </td>
                      <td colspan="2">
                        {{'توضیحات:'}}
                        {{order.sendDescription}}
                      </td>
                      <td>
                        {{'نوع فاکتور:'}}
                        {{'---'}}
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        {{'تاریخ ارسال :'}}

                      </td>
                      <td colspan="2">
                        {{'تاریخ حواله:'}}
                      </td>
                      <td>
                        {{'تاریخ واریزی:'}}
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 mx-auto">
            <div class="panel panel-default">
              <div class="panel-heading">
                {# <h3 class="panel-title"><strong>Order summary</strong></h3> #}
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-condensed">
                    <thead class="bg-dark">
                        <tr>
                          <td><strong>ردیف</strong></td>
                          <td class="text-center"><strong>کالا</strong></td>
                          <td class="text-center"><strong>نوع کالا</strong></td>
                          <td class="text-center"><strong>تعداد</strong></td>
                          <td class="text-center"><strong>قیمت واحد</strong></td>
                          <td class="text-center"><strong>تخفیف</strong></td>
                          <td class="text-center"><strong>جمع</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                      <!-- foreach ($order->lineItems as $line) or some such thing here -->
                      {% for item in order.products %}
                      <tr>
                        <td>#</td>
                        <td class="text-center">{{item.product.name}}</td>
                        {% if item.product_type is null %}
                          <td class="text-center" >{{ 'ندارد' }}</td>
                        {% else %}
                          <td class="text-center" >{{ item.type.name }}</td>
                        {% endif %}
                        <td class="text-center">{{item.count}}</td>
                        <td class="text-center number">{{item.product.price}}</td>
                        <td class="text-center number">{{item.off}}</td>
                        <td class="row_total text-center number">{{(item.product.price * item.count) - item.off }}</td>
                      </tr>
                      {% endfor %}
                      <tr class="">
                        <td colspan="6" class="text-center "><strong>هزینه ارسال</strong></td>
                        <td class="post_price number">{{order.shippingCost  | number_format}}</td>
                      </tr>
                      <tr class="">
                        <td colspan="6" class="text-center "><strong>مبلغ پیش واریزی</strong></td>
                        <td class="pre_payment number">{{order.prePayment | number_format}}</td>
                      </tr>
                      <tr class="bg-dark">
                        <td colspan="6" class="text-center "><strong>جمع کل</strong></td>
                        <td class="total number"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-11 mx-auto">
            <ul>
              <li>لطفا در هنگام تحویل کالا از سالم بودن آن اطمینان حاصل فرمایید</li>
              <li>بدیهی است ضمانت کالا طبق ضوابط قانونی گارانتی مورد نظر خواهد بود <br> (شکستگی،پارگی،سوختگی و ذوب فیزیکی،خرابی در اثر جریانات برق و بی احتیاطی در استفاده شامل گارانتی نخواهد بود)</li>
              <li>جهت پشتیبانی با این شماره تماس حاصل فرمایید: 
                {{ Factor.option1 }} 
              </li>
            </ul>
          </div>
        </div>
    </div>

</body>
</html>
 {% include 'Admin/Master/scripts' %}

