{% extends 'Admin/Master/layout' %}

{% block title %}
  ثبت سفارش
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{asset('AdminPanel/check-box/checkboxes.min.css')}}">
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' %}
{% endblock %}


{% block content %}

  {% include 'Messages/message' %}
  {% include 'Messages/errors' %}

  <section>
    <form id="orderForm" action="{{route('orders.store')}}" method="post">
      <input type="hidden" name="_token" value="{{csrf_token()}}" />
      <div class="row bg-white pt-3 pb-3">
        <h4 class="pt-2 pb-2 col-12 text-center">
          مشخصات مشتری
          <hr width="200px" style="border-bottom:5px solid red;" />
        </h4>
        {# cell-phone #}
        <div class="col-sm-3 mt-1">
          <label for="mobile">موبایل(بدون صفر)
            <span class="text-danger">*</span>
          </label>
          <input class="form-control bg-sec" type="text" placeholder="مثال:9106769465"name="mobile" value="" >
        </div>
        {# landline-phone #}
        <div class="col-sm-3 mt-1">
          <label for="telephone">تلفن ثابت
            <span class="text-danger">*</span>
          </label>
          <input class="form-control bg-sec" type="text" placeholder="مثال:9106769465"name="telephone" value="" >
        </div>
        
        {# state #}
        <div class="col-sm-3 mt-1">
          <label for="city">استان
            <span class="text-danger">*</span>
          </label>
          <select id="state" class="form-control bg-sec"  name="state">
            <option value="{{null}}">استان را انتخاب کنید</option>
            {% for city in cities %}
            <option value="{{city.id}}">{{city.name}}</option>
            {% endfor %}
          </select>
        </div>
        {# city #}
        <div class="col-sm-3 mt-1">
          <label for="state">شهر
            <span class="text-danger">*</span>
          </label>
          <select id="city" class="form-control bg-sec" name="city">
            <option value="{{null}}">شهر را انتخاب کنید</option>
            {% for state in states %}
            <option value="{{state.id}}">{{state.name}}</option>
            {% endfor %}
          </select>
          <div id="cityAgent" class="mt-2"></div>
        </div>
        
        {# detail:name-family-code-hbd #}
        <div class="col-sm-6 mt-5">
          <div class="container-fluid">
            <div class="row">
              {# name and family #}
              <div class="col-sm-12">
                <label for="fullName">نام و نام خانوادگی
                  <span class="text-danger">*</span>
                </label>
                <input class="form-control bg-sec" type="text" placeholder="محسن باقری"name="fullName" value="" >
              </div>
              {# code #}
              <div class="col-sm-6 mt-4">
                <label for="postalCode">کد پستی
                  <span class="text-danger">*</span>
                </label>
                <input class="form-control bg-sec" type="text" placeholder="محسن باقری"name="postalCode" value="" >
              </div>
              {# HBD #}
              <div class="col-sm-6 mt-4">
                <label for="HBD_Date">تاریخ تولد
                  <span class="text-danger">*</span>
                </label>
                <input class="form-control bg-sec" type="date" placeholder="محسن باقری"name="HBD_Date" value="" >
              </div>
              {# end #}
            </div>
          </div>
        </div>
        {# address #}
        <div class="col-sm-6 mt-5">
          <label for="address">آدرس
            <span class="text-danger">*</span>
          </label>
          <textarea rows="5" cols="50" class="form-control bg-sec" type="text" placeholder="مثال:9106769465" name="address" value=""></textarea>
        </div>
      </div>
      <div class="row mt-5 bg-white pt-3 pb-3">
        <h4 class="pt-2 pb-2 col-12 text-center">
          محصولات
          <hr width="150px" style="border-bottom:5px solid red;" />
        </h4>
          {# item row #}
        <div class="container-fluid orderList">
        
        </div>
        {# end item row #}

        <a class="addProduct btn btn-success mt-4" href="javascript:void(0)">
          افزودن محصول
        </a>
        <div class="col-12 mt-4 text-center">مبلغ کل:
          <span id="overallPrice"></span>
          تومان
        </div>
      </div>
      <div class="row mt-5 bg-white pt-3 pb-3">
        {# title #}
        <h4 class="pt-2 pb-2 col-12 text-center">
          پرداخت
          <hr width="150px" style="border-bottom:5px solid red;" />
        </h4>

        <div class="col-sm-2">
          <input class=" bg-sec" type="radio" placeholder="100" name="paymentMethod" value="cash" checked>
          <label for="paymentMethod">نقدی
          </label>

          <br />
          <input class=" bg-sec" type="radio" placeholder="100" name="paymentMethod" value="nocash" >
          <label for="paymentMethod">غیر نقدی
          </label>

        </div>
        <div class="col-sm-3">
          <label for="sendCost">هزینه ارسال
            <span class="text-danger">*</span>
          </label>
          <input class="form-control bg-sec" type="text" placeholder="100" name="sendCost" value="">
        </div>

        <div class="col-sm-3">
          <label for="cashAmount">مبلغ پرداخت نقدی
            <span class="text-danger">*</span>
          </label>
          <input class="form-control bg-sec" type="text" placeholder="100" name="cashAmount" value="" >
        </div>

        <div class="col-sm-3">
          <label for="prePrice">مبلغ پیش واریزی
            <span class="text-danger">*</span>
          </label>
          <input class="form-control bg-sec" type="text" placeholder="100" name="prePrice" value="" >
        </div>

        <div class="col-sm-4 mt-4 ">
          <label for="checkPrice">مبلغ پرداخت بصورت چک
            <span class="text-danger">*</span>
          </label>
          <input class="form-control bg-sec" type="text" placeholder="100"name="checkPrice" value="" >
        </div>
        <div class="col-sm-4 mt-4 mx-auto">
          <input class=" bg-sec" type="radio" placeholder="100" name="status" value="normal" checked>
          <label for="status">عادی
          </label>

          <br />
          <input class=" bg-sec" type="radio" placeholder="100"name="status" value="fast" >
          <label for="status">فوری
          </label>

        </div>

        <div class="col-sm-6 mt-5">
          <label for="phone-number">توضیحات
            <span class="text-danger">*</span>
          </label>
          <textarea rows="10" cols="50" class="form-control bg-sec" type="text"  name="description" value="" ></textarea>
        </div>
      </div>
      <div class="col-sm-12 mt-5 text-center">
        <button class="btn btn-info col-2" type="submit" name="button">
          ثبت سفارش
        </button>
      </div>
    </form>
  </section>
{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}
