{% extends 'Admin/Master/layout' %}

{% block title %}
  محصولات
{% endblock %}

{% block styles %}
  <link href=""
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'محصولات'} %}
{% endblock %}

{% block content %}

      {% include 'Messages/message' %}

                <a class="btn btn-info my-3" href="{{route('products.create')}}">
                  <strong class="">
                    افزودن محصول
                  </strong>
                </a>
                <table id="productTable" class="table table-striped table-bordered table-sm" cellspacing="0"
                width="100%">
                  <thead>
                  <tr class="text-center">
                    <th>تصویر</th>
                    <th>نام</th>
                    <th>کد محصول</th>
                    <th>وضعیت</th>
                    <th>وضعیت پیامک</th>
                    <th>قیمت</th>
                    <th>قیمت خرید</th>
                    <th>عملیات</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for product in products %}
                    <tr class="text-center">
                      <td class="d-flex justify-content-center">
                        {% if product.image_id is not null %}
                          <img src="{{ product.thumbUrl }}" alt="">
                        {% endif %}
                      </td>
                      <td>{{product.name }}</td>
                      <td>{{product.code | number_format}}</td>
                        {% if product.status != null %}
                          <td class="text-success" >{{'فعال'}}</td>
                        {% else %}
                          <td class="text-danger" >{{'غیر فعال'}}</td>
                        {% endif %}
                        {% if product.messageStatus != null %}
                          <td class="text-success" >{{'فعال'}}</td>
                        {% else %}
                          <td class="text-danger" >{{'غیر فعال'}}</td>
                        {% endif %}
                      <td>{{product.price | number_format }}</td>
                      <td>{{product.buyPrice | number_format }}</td>
                      <td class="d-flex justify-content-around">
                        <a title="انواع" class="text-success" data-toggle="modal" href="#types{{product.id}}">
                          <sub class="text-success" id="typeCounter{{product.id}}">
                            {{product.types.count()}}
                          </sub>
                          <i class="fas fa-plus crud-icon"></i>
                        </a>
                        <a  title="ویرایش" class="text-warning " href="{{route('products.edit',product.slug)}}">
                          <i class="far fa-edit crud-icon"></i>
                        </a>
                        <a  title="تخفیفات" class="text-primary" href="{{route('products.off',product.slug)}}">
                          <i class="fas fa-tags crud-icon"></i>
                        </a>

                        {# Form Delete #}
                          <form action="{{route('products.destroy',product.id)}}" class="deleteConfirm"  method="POST">
                              <input type="hidden" name="_token" value="{{ csrf_token() }}" />
                              <input type="hidden" name="_method" value="DELETE" />
                            <button type="submit" class="" title="حذف">
                              <i class="far fa-trash-alt text-danger crud-icon"></i>
                            </button>
                          </form>
                        {# Form Delete #}

                      </td>
                    </tr>
                {% endfor %}
                  </tbody>

                </table>


{# delete product #}
{% for product in products %}
<!-- The Modal -->
<div class="modal fade " id="types{{product.id}}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-info space-content-between flex-row-reverse p-2">
        <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
        <span class="p-1">افزودن نوع محصول</span>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center">
          <table class="table table-bordered table-striped bg-white pt-2 pb-2">
          <thead>
            <tr class="text-center">
              <th>نوع محصول</th>
              <th>عملیات</th>
            </tr>
          </thead>
          <tbody>
          {% for type in product.types %}
            <tr class="text-center">
              <td class="productTypeName">
                <span>{{type.name}}</span>
                <input class="d-none text-center" type="text" value="{{type.name}}">
              </td>
              <td class="d-flex justify-content-center">
                <a  class="editTypeButton text-info btn-sm d-none" href="#">
                  <i class="far fa-edit crud-icon"></i>
                </a>
                {# Form Edit #}
                <form class="pt-1" action="{{ route('types.update',type.id) }}"  method="POST">
                  <input type="hidden" name="_token"  value="{{ csrf_token() }}" />
                  <input type="hidden" name="_method" value="UPDATE" />
                  <input type="hidden" name="product" value="{{product.id}}">
                  <a class="confirmEdit text-green btn-sm d-none" href="#">
                    <i class="far fa-check-square crud-icon"></i>
                  </a>
                </form>
                {# Form Edit #}
                <a  class="cancelEdit text-danger btn-sm d-none" href="#">
                  <i class="far fa-window-close crud-icon"></i>
                </a>
                {# Form Delete #}
                  <form class="pt-1" action="{{ route('types.destroy',type.id) }}"  method="POST">
                      <input type="hidden" name="_token"  value="{{ csrf_token() }}" />
                      <input type="hidden" name="_method" value="DELETE" />
                      <input type="hidden" name="product" value="{{product.id}}">
                    <a href="javascript:void(0)" class="deleteTypeButton btn-sm">
                      <i class="far fa-trash-alt text-danger crud-icon"></i>
                    </a>
                  </form>
                {# Form Delete #}
              </td>
            </tr>
        {% endfor %}
          </tbody>

        </table>
        <form class="storeTypeForm" action="{{route('types.store')}}" method="post">
          <input type="hidden" name="_token" value="{{ csrf_token() }}" />
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="name" placeholder="نوع محصول را وارد کنید" required>
            <input type="hidden" name="product" value="{{product.id}}">
            <div class="input-group-append">
              <button type="submit" class="input-group-text text-success">
                  <i class="far fa-plus-square crud-icon"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>

{% endfor %}
{# delete product #}

{# ProductType #}
{% for product in products %}
<!-- The Modal -->
<div class="modal fade " id="types{{product.id}}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header ">

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center ">
        <i class="fas fa-exclamation-triangle text-danger"></i>
          آیا از این بابت مطمئنید؟
        <form action="{{route('products.destroy',product.id)}}" method="post">
          <input type="hidden" name="_token" value="{{csrf_token()}}" />
          <input type="hidden" name="_method" value="delete" />
          <div class="input-group mb-3 mx-auto">

            <div class="text-center">


            </div>
          </div>

      </div>
      <div class="card-footer text-center">
        <button type="submit" class="col-sm-3 btn btn-outline-danger">
            بله
        </button>
      </div>

      </form>
    </div>
  </div>
</div>

</div>
{% endfor %}
{# ProductType #}




{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}
