{% extends 'Admin/Master/layout' %}

{% block title %}
  لیست انبارها
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'لیست انبارها'} %}
{% endblock %}

{% block content %}

    {% include 'Messages/message' %}

<table  id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"
        width="100%">
        <thead>
            <tr class="text-center">
            <th>نام</th>
            <th>شهر</th>
            <th>تلفن ثابت</th>
            <th>کارت پستال</th>
            <th >عملیات</th>
            </tr>
        </thead>
        <tbody>
        {% for warehouse in warehouses %}
        <tr class="text-center">
            <td>{{warehouse.name}}</td>
            <td>{{warehouse.cities.name}}</td>
            <td>{{warehouse.telephone}}</td>
            <td>{{warehouse.postalCard}}</td>
            <td class="text-center">
            
            <a  title="ورودی و خروجی انبار" class="text-primary " 
                href="{{route('warehouses.inout',warehouse.slug)}}">
                <i class="far fa-list-alt crud-icon"></i>
            </a>

            <a  title="ویرایش" class="text-warning " 
                href="{{route('warehouses.edit',warehouse.id)}}">
                <i class="far fa-edit crud-icon"></i>
            </a>

            {# Form Delete #}
                <form action="{{route('warehouses.destroy',warehouse.id)}}" id="formForDelete"  method="POST">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="_method" value="DELETE" />
                <a title="حذف" href="javascript:{}" 
                    onclick="document.getElementById('formForDelete').submit();" >
                    <i class="far fa-trash-alt text-danger crud-icon"></i>
                </a>
                </form>
            {# Form Delete #}

        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}