{% extends 'Admin/Master/layout' %}

{% block title %}
  انبار به انبار نماینده ها 
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'انبار به انبار نماینده ها'} %}
{% endblock %}

{% block content %}

    {% include 'Messages/message' %}

    <table  id="agentExchangeStorageTable" class="table table-striped table-bordered table-sm" cellspacing="0"
                width="100%">
                  <thead>
                  <tr class="text-center">
                    <th>تصویر</th>
                    <th>کالا</th>
                    <th>انبار نماینده مبدا</th>
                    <th>انبار نماینده مقصد</th>
                    <th>وضعیت</th>
                    <th>توضیحات</th>
                    <th>تعداد</th>
                    <th>تاریخ ارسال</th>
                    <th>تاریخ دریافت</th>
                    <th >جمع(تومان)</th>
                    <th >عملیات</th>
                  </tr>
                  </thead>
                  <tbody>
                 {% for storeRoom in storeRooms %}
                    <tr class="text-center">
                      <td><img src="{{storeRoom.product.thumbUrl}}" /></td>
                      <td>{{storeRoom.product.name}}</td>
                      <td>{{storeRoom.sender.name}}{{' '}}{{storeRoom.sender.family}}</td>
                      <td>{{storeRoom.receiver.name}}{{' '}}{{storeRoom.receiver.family}}</td>
                      <td>{{storeRoom.status}}</td>
                      <td>{{storeRoom.description}}</td>
                      <td>{{storeRoom.number}}</td>
                      <td class="timestamp">{{storeRoom.out_date}}</td>
                      {% if storeRoom.in_date is null %}
                          <td class="text-danger">{{'تایید نشده'}}</td>
                      {% else %}
                          <td class="timestamp">{{storeRoom.out_date}}</td>
                      {% endif %}
                      {% set price = storeRoom.product.price * storeRoom.number %}
                      <td>{{ price|number_format}}</td>

                      {% if storeRoom.in_date == Null %}
                        <td>
                          <a href="{{route('storeRooms.delete',storeRoom.id)}}" title="حذف" type="submit">
                            <i class="far fa-trash-alt text-danger crud-icon"></i>
                          </a>
                        </td>
                      {% else %}
                        <td>
                          <a title="از کار افتاده" type="submit">
                            <i class="fas fa-trash-alt crud-icon"></i>
                          </a>
                        </td>
                      {% endif %}

                    </tr>
                  {% endfor %}
                  </tbody>

                </table>

                
                
{% endblock %}

{% block footer %}
    {% include 'Admin/Master/footer' %}
{% endblock %}