{% extends 'Admin/Master/layout' %}

{% block title %}
  ورودی انبار 
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'ورودی انبار'} %}
{% endblock %}

{% block content %}

    {% include 'Messages/message' %}

    <table  id="fundInStorageTable" class="table table-striped table-bordered table-sm" cellspacing="0"
                width="100%">
                  <thead>
                  <tr class="text-center">
                    <th>تصویر</th>
                    <th>کالا</th>
                    <th>انبار مبدا</th>
                    <th>وضعیت</th>
                    <th>توضیحات</th>
                    <th>تعداد</th>
                    {% if auth_user().getRoleNames().first() == 'mainWarehouser' %}
                    <th>تاریخ ورود</th>
                    {% else %}
                    <th>تاریخ ارسال</th>
                    <th>تاریخ دریافت</th>
                    {% endif %}
                    <th >جمع(تومان)</th>
                  </tr>
                  </thead>
                  <tbody>
                 {% for storeRoom in storeRooms %}
                    <tr class="text-center">
                      <td><img src="{{storeRoom.product.thumbUrl}}" /></td>
                      <td>{{storeRoom.product.name}}</td>
                    {% if storeRoom.sender_id == 1 %}
                      <td>{{'انبار مادر'}}</td>
                    {% else %}
                      <td>{{ storeRoom.sender.name }}{{' '}}{{ storeRoom.sender.family }}</td>
                    {% endif %}
                      <td>{{storeRoom.status}}</td>
                      <td>{{storeRoom.description}}</td>
                      <td>{{storeRoom.number}}</td>
                      {% if auth_user().getRoleNames().first() == 'mainWarehouser' %}
                      <td>{{storeRoom.created_at}}</td>
                      {% else %}
                        <td>{{storeRoom.created_at.toDateString()}}</td>
                        <td>{{storeRoom.in_date}}</td>
                      {% endif %}
                      {% set price = storeRoom.product.price * storeRoom.number %}
                      <td>{{ price|number_format}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>

                </table>

                
                
{% endblock %}

{% block footer %}
    {% include 'Admin/Master/footer' %}
{% endblock %}