{% extends 'Admin/Master/layout' %}

{% block title %}
  مرجوعی از انبار نماینده-تایید نشده
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'مرجوعی از انبار نماینده-تایید نشده'} %}
{% endblock %}

{% block content %}

    {% include 'Messages/message' %}

    <table  id="mainReceiveTable" class="table table-striped table-bordered table-sm" cellspacing="0"
                width="100%">
                  <thead>
                  <tr class="text-center">
                    <th>تصویر</th>
                    <th>کالا</th>
                    <th>نماینده</th>
                    <th>توضیحات</th>
                    <th>تعداد</th>
                    <th>تاریخ ارسال</th>
                    <th >جمع(تومان)</th>
                    <th>عملیات</th>
                  </tr>
                  </thead>
                  <tbody>
                 {% for storeRoom in storeRooms %}
                    <tr class="text-center">
                      <td><img src="{{storeRoom.product.thumbUrl}}" /></td>
                      <td>{{storeRoom.product.name}}</td>
                      <td>
                        {{storeRoom.sender.name}}
                        {{' '}}
                        {{storeRoom.sender.family}}
                        {{'/'}}
                        {{storeRoom.sender.state.name}}
                        {{'-'}}
                        {{storeRoom.sender.city.name}}
                      </td>
                      <td>{{storeRoom.description}}</td>
                      <td>{{storeRoom.number}}</td>
                      <td class="justDate">{{storeRoom.out_date | date('Y-m-d')}}</td>
                      {% set price = storeRoom.product.price * storeRoom.number %}
                      <td>{{ price|number_format}}</td>
                      <td>
                        {# Accept #}
                        <a  class="text-success"
                            href="{{ route('storeRooms.AcceptAgentReturnedProducts',storeRoom.id) }}">
                            <i class="far fa-check-square crud-icon"></i>
                        </a>
                        {# Details #}
                        <a class="text-info" href="" data-toggle="modal" data-target="#detail{{storeRoom.id}}">
                            <i class="fas fa-info-circle crud-icon"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>

                </table>

                

{% for storeRoom in storeRooms %}

    <!-- Modal -->
    <div class="modal fade right" id="detail{{storeRoom.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
        <div class="modal-dialog modal-side modal-bottom-left" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                مشخصات
                {{' '}}{{storeRoom.product.name}}
                </h5>
                
            </div>
            <div class="modal-body">
                    <img class="col-sm-12" src="{{storeRoom.product.cardUrl}}" />
                    <div class="d-flex mt-3">
                        <div>نام:</div>
                        <div>{{storeRoom.product.name}}</div>
                    </div>
                    <div class="d-flex">
                        <div>تعداد:</div>
                        <div>
                        {{storeRoom.number}}
                        عدد
                        </div>
                    </div>
                     <div class="d-flex">
                        <div>توضیحات:</div>
                        <div>
                        {% if storeRoom.description is not null %}
                            {{storeRoom.description|raw}}
                        {% else %}
                            {{'ندارد'}}
                        {% endif %}
                        </div>
                    </div>
                    <div class="d-flex">
                        <div>تاریخ ارسال:</div>
                        <div class="justDate">{{storeRoom.out_date|date('Y-m-d')}}</div>
                    </div>
                 <a  class="btn btn-success btn-sm text-dark"
                    href="{{ route('storeRooms.AcceptAgentReturnedProducts',storeRoom.id) }}">
                    <strong class="h6">
                        دریافت شد
                    </strong>
                    <i class="fas fa-check crud-icon"></i>
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                
            </div>
            </div>
        </div>
    </div>
{% endfor %}



{% endblock %}

{% block footer %}
    {% include 'Admin/Master/footer' %}
{% endblock %}