{% extends 'Admin/Master/layout' %}

{% block title %}
  ارسالها به انبار نماینده ها 
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'ارسالها به انبار نماینده ها'} %}
{% endblock %}

{% block content %}

    {% include 'Messages/message' %}

    <table  id="sendToAgentTable" class="table table-striped table-bordered table-sm" cellspacing="0"
                width="100%">
                  <thead>
                  <tr class="text-center">
                    <th>تصویر</th>
                    <th>کالا</th>
                    <th>انبار نماینده مقصد</th>
                    <th>وضعیت</th>
                    <th>توضیحات</th>
                    <th>تعداد</th>
                    <th>تاریخ خروج</th>
                    <th>تاریخ دریافت</th>
                    <th >جمع(تومان)</th>
                  </tr>
                  </thead>
                  <tbody>
                 {% for storeRoom in storeRooms %}
                    <tr class="text-center">
                      <td><img src="{{storeRoom.product.thumbUrl}}" /></td>
                      <td>{{storeRoom.product.name}}</td>
                      <td>{{storeRoom.receiver.name}}{{' '}}{{ storeRoom.receiver.family }}</td>
                      <td>{{storeRoom.status}}</td>
                      <td>{{storeRoom.description}}</td>
                      <td>{{storeRoom.number}}</td>
                      <td class="timestamp">{{storeRoom.created_at}}</td>
                      <td>{{storeRoom.out_date|date('d-m-Y')}}</td>
                      {% set price = storeRoom.product.price * storeRoom.number %}
                      <td>{{ price|number_format}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>

                </table>

                
                
{% endblock %}

{% block footer %}
    {% include 'Admin/Master/footer' %}
{% endblock %}