{% extends 'Admin/Master/layout' %}

{% block title %}
   سفارشات کنسلی
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':' سفارشات کنسلی'} %}
{% endblock %}

{% block content %}

  {% include 'Messages/switchSuccess' %}

  <div class="row">
   
    <div class="card col-sm-12">
     
                <div class="card-header">
                  {# <a class="col-3 btn btn-warning btn-sm" href="#">
                    <strong class="h6 text-dark">
                      برگشت به مدیر پیگیری
                    </strong>
                  </a> #}

                  
                </div>
                <!-- /.card-header -->
                <div class="card-body col-12 mx-auto table-responsive">
                
                  <table  id="orderTable" class="table table-striped table-bordered table-sm text-center" cellspacing="0"
                width="100%">
                    <thead>
                    <tr>
                      <th></th>
                      <th class="d-none">شماره<br> سفارش</th>
                      <th>تاریخ ثبت</th>
                      <th>تاریخ تخصیص</th>
                      <th>استان-شهر</th>
                      <th>آدرس مشتری</th>
                      <th>نام خریدار</th>
                      <th>همراه-ثابت</th>
                      <th>محصولات</th>
                      <th>مبلغ قابل پرداخت</th>
                      <th>پیش پرداخت</th>
                      <th>تعداد اقلام سفارش</th>
                      <th>جمع تعداد کالا</th>
                      <th>تخفیف</th>
                      <th>نوع پرداخت</th>
                      <th>حالت انصراف</th>
                      <th>توضیحات</th>
                      <th>جزئیات</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                      <tr>
                        <td></td>
                        <td class="d-none">{{order.id}}</td>
                        <td class="timestamp">{{order.created_at | date('Y-m-d')}}</td>
                        <td class="timestamp">{{order.allotment_Date | date('Y-m-d')}}</td>
                        <td>{{order.state.name}}{{'-'}}{{order.city.name}}</td>
                        <td>{{order.address}}</td>
                        <td>{{order.fullName}}</td>
                        <td>{{order.mobile}}<br>{{order.telephone}}</td>
                        <td>
                          {% for ProductItem in order.products %}
                          <span>
                            {{ProductItem.product.name}}
                            {{' '}}
                            {% if ProductItem.type is not null %}
                              ({{ProductItem.type.name}})
                            {% endif %}
                          </span>
                          {% endfor %}
                        </td>
                        <td>{{order.cashPrice | number_format}}</td>
                        <td>{{order.prePayment | number_format}}</td>
                        <td>{{order.products.count}}</td>
                        <td>{{order.products.sum("count")}}</td>
                        <td>{{order.products.sum("off")}}</td>
                        {% if order.paymentMethod == 'cash' %}
                          <td>{{'نقدی'}}</td>
                        {% else %}
                          <td>{{'غیر نقدی'}}</td>
                        {% endif %}
                        <td>{{ order.OrderStatus.name }}</td>
                        <td>{{ order.status_desc }}</td>
                        <td>
                          <a title="جزئیات این سفارش" class="text-secondary" data-toggle="modal" href="#order{{order.id}}">
                            <sub class="text-dark">
                              {{order.products.count()}}
                            </sub>
                            <i class="fas fa-shopping-basket crud-icon"></i>
                          </a>
                          <a title="فاکتور" class="text-secondary" href="{{route('orders.Factor',order.id)}}"
                          target="_blank">
                            <i class="fa fa-book crud-icon"></i>
                          </a>
                          <a title="تعیین وضعیت" class="text-secondary" data-toggle="modal" href="#condition{{order.id}}">
                            <i class="fa fa-cogs crud-icon"></i>
                          </a>
                          {# <a  title="ویرایش" class="text-warning mx-auto"
                            href="#">
                            <i class="far fa-edit crud-icon"></i>
                          </a> #}
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                    
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
          </div>

      {# <div class="row">
        <div class="col-6">
          <form class="" action="{{route('orders.AgentChangeOrderStatus')}}" id="conditionForm">
            <label for="status">
              تعیین وضعیت
              <span class="text-danger">*</span>
            </label>
            <select class="p-2 pb-2 form-control col-sm-6" name="status">
              {% for bot_status in bottom_statuses %}
                <option 
                  {% if CustomerCancelled == bot_status.id %}
                    style="display:none;"
                  {% elseif CustomerFinalCancelled == bot_status.id %}
                    style="display:none;" 
                  {% endif %} 
                 value="{{bot_status.id}}">{{bot_status.name}}</option>
              {% endfor %}
            </select>
            <button class="col-sm-6  btn btn-success btn-sm mx-auto" type="submit" name="button">
              <strong class="h6">
                ذخیره
              </strong>
            </button>
          </form>
          <hr>
         
            {% set user = auth_user() %}
            {% if user.backToFollowManager == null %} 
            <form class="" action="{{route('orders.AgentChangeOrderStatus')}}" method="post" id="conditionForm"> 
              <button class="col-sm-6  btn btn-primary btn-sm mx-auto" type="submit" name="button">
                <strong class="h6">
                  برگشت به مدیر پیگیری
                </strong>
              </button>
              <input name="status" type="hidden"  value="8" />
            </form>
            {% else %}
              <button title="این ویژگی برای شما در دسترس نیست" class="col-sm-6  btn btn-danger btn-sm mx-auto" type="submit" name="button">
                <strong class="h6">
                    <i class="fas fa-lock crud-icon"></i>
                  برگشت به مدیر پیگیری
                </strong>
              </button>
            {% endif %}
            
        </div>
         <div class="col-6">
            <button class="btn btn-info btn-sm mx-auto" type="button" name="button">
                <strong class="h6">
                  چاپ
                </strong>
            </button>
            <button class="btn btn-secondary btn-sm mx-auto" type="button" name="button">
                <strong class="h6">
                  اکسل
                </strong>
            </button>
         </div>
        
      </div> #}
     

          
      {# 
      ######### ORDERS START MODAL  
      #}
      {% include 'Admin/Master/Repetitive/order-details-modal' with {'orders':orders} %}
      {#
      ######### ORDERS END MODAL
      #}
      <!-- Order condition modal -->
      {% include "Admin.Master.Repetitive.Orders.order-condtion" %}


{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}

