{% extends 'Admin/Master/layout' %}

{% block title %}
   سفارشات برگشت خورده
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'سفارشات برگشت خورده'} %}
{% endblock %}

{% block content %}

  {% include 'Messages/switchSuccess' %}

  <div class="row">
   
    <div class="card col-sm-12">
     
                <div class="card-header">
                  {# <a class="col-3 btn btn-warning btn-sm" href="#">
                    <strong class="h6 text-dark">
                      برگشت به مدیر پیگیری
                    </strong>
                  </a> #}

                  
                </div>
                <!-- /.card-header -->
                <div class="card-body col-12 mx-auto table-responsive">
                
                  <table  id="orderTable" class="table table-striped table-bordered table-sm text-center" cellspacing="0"
                width="100%">
                    <thead>
                    <tr>
                      <th></th>
                      <th class="d-none">شماره سفارش</th>
                      <th>تاریخ ثبت</th>
                      <th>تاریخ برگشت</th>
                      <th>استان-شهر</th>
                      <th>آدرس مشتری</th>
                      <th>نام خریدار</th>
                      <th>همراه-ثابت</th>
                      <th>محصولات</th>
                      <th>مبلغ قابل پرداخت</th>
                      <th>پیش پرداخت</th>
                      <th>تعداد اقلام سفارش</th>
                      <th>جمع تعداد کالا</th>
                      <th>تخفیف</th>
                      <th>فروشنده</th>
                      <th>نماینده</th>
                      <th>جزئیات</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                      <tr>
                        <td></td>
                        <td class="d-none">{{order.id}}</td>
                        <td class="timestamp">{{order.created_at | date('Y-m-d') }}</td>
                        <td class="timestamp">{{order.returnToManager_Date | date('Y-m-d') }}</td>
                        <td>{{order.state.name}}{{'-'}}{{order.city.name}}</td>
                        <td>{{order.address}}</td>
                        <td>{{order.fullName}}</td>
                        <td>{{order.mobile}}<br>{{order.telephone}}</td>
                        <td>
                          {% for ProductItem in order.products %}
                          <span>
                            {{ProductItem.product.name}}
                            {{' '}}
                            {% if ProductItem.type is not null %}
                              ({{ProductItem.type.name}})
                            {% endif %}
                          </span>
                          {% endfor %}
                        </td>
                        <td>{{order.cashPrice | number_format}}</td>
                        <td>{{order.prePayment | number_format}}</td>
                        <td>{{order.products.count}}</td>
                        <td>{{order.products.sum("count")}}</td>
                        <td>{{order.products.sum("off")}}</td>
                        <td>{{order.seller.name }}{{" "}}{{ order.seller.family }}</td>
                        <td>{{ order.agent.name }}{{" "}}{{ order.agent.family }}</td>

                        <td>
                          <a title="جزئیات این سفارش" class="text-secondary" data-toggle="modal" href="#order{{order.id}}">
                            <sub class="text-dark">
                              {{order.products.count()}}
                            </sub>
                            <i class="fas fa-shopping-basket crud-icon"></i>
                          </a>
                          <a title="فاکتور" class="text-secondary" href="{{route('orders.Factor',order.id)}}"
                          target="_blank">
                            <i class="fa fa-book crud-icon"></i>
                          </a>
                          {# <a title="تعیین وضعیت" class="text-secondary" data-toggle="modal" href="#condition">
                              <i class="fa fa-cogs crud-icon"></i>
                          </a> #}
                          {# <a  title="ویرایش" class="text-warning mx-auto"
                            href="#">
                            <i class="far fa-edit crud-icon"></i>
                          </a> #}
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                    
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
          </div>

      <div class="row">
      <div class="col-6">
          {% set user = auth_user() %}
          {% if user.backToSeller is not null %}
            <form form class="" action="{{route('orders.AgentChangeOrderStatus')}}" id="backToSellerForm">
              <button class="col-sm-6  btn btn-info btn-sm mx-auto" type="submit" name="button">
                <strong class="h6">
                  برگشت به فروشنده 
                </strong>
              </button>
              <input type="hidden" name="status" value="6" />
          </form>
          {% else %}
              <button title="شما به این ویژگی دسترسی ندارید" class="col-sm-6  btn btn-danger btn-sm mx-auto" type="submit" name="button">
                <strong class="h6">
                  <i class="fas fa-lock crud-icon"></i>
                  برگشت به فروشنده 
                </strong>
              </button>
          {% endif %}
           <form class="mt-4" action="{{route('orders.AgentChangeOrderStatus')}}" id="notAbleToSendForm" >
              <input type="hidden" name="_token" value="{{csrf_token()}}" />
              <button class="col-sm-6 btn btn-blue-grey  btn-sm mx-auto" type="submit" name="button">
                <strong class="h6">
                  غیر قابل ارسال 
                </strong>
              </button>
              <input type="hidden" name="status" value="9" />
          </form>
          {# <form class="" action="" method="post" id="">
              <button class="col-sm-6  btn btn-mdb-color btn-sm mx-auto" type="submit" name="button">
                <strong class="h6">
                  اختصاص   
                </strong>
              </button>
          </form> #}
         </div>


        {# <div class="col-6">
          <form class="" action="" id="chooseAgentForm">
            <input type="hidden" name="_token" value="{{csrf_token()}}" />
            <h6>نوع ارسال:</h6>
            <div class="form-check">
                <input type="radio" class="form-check-input" class="waitingDelivery" value="{{'on'}}" name="postType" checked>
                <label class="form-check-label" for="waitingDelivery">{{'پیک'}}</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" class="waitingDelivery" value="{{'on'}}" name="postType" checked>
                <label class="form-check-label" for="waitingDelivery">{{'شکوه مهر'}}</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" class="waitingDelivery" value="{{'on'}}" name="postType" checked>
                <label class="form-check-label" for="waitingDelivery">{{'چابک'}}</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" class="waitingDelivery" value="{{'on'}}" name="postType" checked>
                <label class="form-check-label" for="waitingDelivery">{{'فارس پست'}}</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" class="waitingDelivery" value="{{'on'}}" name="postType" checked>
                <label class="form-check-label" for="waitingDelivery">{{'فلوکس'}}</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" class="waitingDelivery" value="{{'on'}}" name="postType" checked>
                <label class="form-check-label" for="waitingDelivery">{{'فروتل'}}</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" class="waitingDelivery" value="{{'on'}}" name="postType" checked>
                <label class="form-check-label" for="waitingDelivery">{{'سپیده ماهان'}}</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" class="waitingDelivery" value="{{'on'}}" name="postType" checked>
                <label class="form-check-label" for="waitingDelivery">{{'گیتوی پست'}}</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" class="waitingDelivery" value="{{'on'}}" name="postType" checked>
                <label class="form-check-label" for="waitingDelivery">{{'لجیتو'}}</label>
              </div>
              <div class="mt-4">
                <label for="status">
                  ارسال سفارش برای نماینده:
                  <span class="text-danger">*</span>
                </label>
                <select class="p-2 pb-2 form-control col-sm-6" name="status">
                  <option value="{{null}}">گزینه ای انتخاب نشده</option>
                  
                  {% for agent in agents %}
                      <option value="#">
                        {{agent.name}}
                        {{' '}}
                        {{agent.family}}
                        {{'/'}}
                        {{agent.city.name}}
                      </option>
                  {% endfor %}
                </select>
              </div>
            
            <button class="col-sm-6  btn btn-success btn-sm mx-auto" type="submit" name="button">
              <strong class="h6">
                ارسال
              </strong>
            </button>
          </form>
          <hr>
          
        </div>
          #}
        
      </div>
     

          
      {# 
      ######### ORDERS START MODAL  
      #}
      {% include 'Admin/Master/Repetitive/order-details-modal' with {'orders':orders} %}
      {#
      ######### ORDERS END MODAL
      #}



{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}

