{% extends 'Admin/Master/layout' %}

{% block title %}
   سفارشات تایید نشده
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'سفارشات تایید نشده'} %}
{% endblock %}

{% block content %}

  {% include 'Messages/switchSuccess' %}

  <div class="row">
   
    <div class="card col-sm-12">
     
                <div class="card-header">
                  {# <a class="col-3 btn btn-warning btn-sm" href="#">
                    <strong class="h6 text-dark">
                      برگشت به مدیر پیگیری
                    </strong>
                  </a> #}

                  
                </div>
                <!-- /.card-header -->
                <div class="card-body col-12 mx-auto">
                
                  <table  id="unverifiedOrdersForm" class="table table-striped table-bordered table-sm text-center" cellspacing="0"
                width="100%">
                    <thead>
                    <tr>
                      <th></th>
                      <th>شماره<br> سفارش</th>
                      <th>نام خریدار</th>
                      <th>استان-شهر</th>
                      <th>همراه-ثابت</th>
                      <th>کد پیگیری</th>
                      <th>نوع پرداخت</th>
                      <th>تاریخ ثبت</th>
                      <th>فروشنده</th>
                      <th>عملیات</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                      <tr>
                       <td> </td>
                       <td>{{order.id}}</td>
                        <td>{{order.fullName}}</td>
                        <td>{{order.state.name}}{{'-'}}{{order.city.name}}</td>
                        <td>{{order.mobile}}<br>{{order.telephone}}</td>
                        <td>{{order.trackingCode}}</td>
                        {% if order.paymentMethod == 'cash' %}
                          <td>{{'نقدی'}}</td>
                        {% else %}
                          <td>{{'غیر نقدی'}}</td>
                        {% endif %}
                        <td class="timestamp">{{order.created_at | date('Y-m-d')}}</td>
                        <td> فروشنده اول</td>
                        <td>
                          <a title="ویرایش سفارش" class="text-secondary" >
                              <i class="far fa-edit crud-icon"></i>
                          </a>

                          <a title="جزئیات این سفارش" class="text-secondary" data-toggle="modal" href="#order{{order.id}}">
                            <sub class="text-dark">
                              {{order.products.count()}}
                            </sub>
                            <i class="fas fa-shopping-basket crud-icon"></i>
                          </a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                    
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
          </div>

      <div class="row">
      <div class="col-6">
          {% set user = auth_user() %}
          {% if user.backToSeller is not null %}
            <form class="" action="{{route('orders.AgentChangeOrderStatus')}}" id="backToSellerForm">
              <input type="hidden" name="_token" value="{{csrf_token()}}" />
              <button class="col-sm-6  btn btn-info btn-sm mx-auto" type="submit" name="button">
                <strong class="h6">
                  برگشت به فروشنده 
                </strong>
              </button>
              <input type="hidden" name="status" value="6" />
          </form>
          {% else %}
              <button onclick="alert('شما به این ویژگی دسترسی ندارید')" title="شما به این ویژگی دسترسی ندارید" class="col-sm-6  btn btn-danger btn-sm mx-auto" type="submit" name="button">
                <strong class="h6">
                  <i class="fas fa-lock crud-icon"></i>
                  برگشت به فروشنده 
                </strong>
              </button>
          {% endif %}
           <form class="mt-4" action="{{route('orders.AgentChangeOrderStatus')}}" method="post" id="notAbleToSendForm">
              <button class="col-sm-6 btn btn-blue-grey  btn-sm mx-auto" type="submit" name="button">
                <strong class="h6">
                  غیر قابل ارسال 
                </strong>
              </button>
              <input type="hidden" name="status" value="9" />
          </form>
          <form class="" action="" method="post" id="">
              <button class="col-sm-6  btn btn-mdb-color btn-sm mx-auto" type="submit" name="button">
                <strong class="h6">
                  اختصاص   
                </strong>
              </button>
          </form>
         </div>
        <div class="col-6">
          <form class="" action="{{route('orders.chooseAgentForDelivary')}}" id="chooseAgentForm">
            <input type="hidden" name="_token" value="{{csrf_token()}}" />
            {# <h6>نوع ارسال:</h6>
              <div class="form-check">
                <input type="radio" class="form-check-input" class="waitingDelivery" value="1" name="postType" checked>
                <label class="form-check-label" for="waitingDelivery">در انتظار تحویل</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input"  value="2" name="postType" >
                <label class="form-check-label" for="suspend">پیک</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input"  value="3" name="postType">
                <label class="form-check-label" for="cancel">شکوه مهر</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" value="3" name="postType">
                <label class="form-check-label" for="cancel">چابک</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" value="3" name="postType">
                <label class="form-check-label" for="cancel">فارس پست</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" value="3" name="postType">
                <label class="form-check-label" for="cancel">فلوکس</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" value="3" name="postType">
                <label class="form-check-label" for="cancel">فروتل</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" value="3" name="postType">
                <label class="form-check-label" for="cancel">سپیده ماهان</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" value="3" name="postType">
                <label class="form-check-label" for="cancel">گیتوی پست</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" value="3" name="postType">
                <label class="form-check-label" for="cancel">لجیتو</label>
              </div> #}
              <div class="mt-4">
                <label for="agent">
                  ارسال سفارش برای نماینده:
                  <span class="text-danger">*</span>
                </label>
                <select class="p-2 pb-2 form-control col-sm-6" name="agent">
                  <option value="{{null}}">گزینه ای انتخاب نشده</option>
                  {% for agent in agents %}
                      <option value="{{agent.id}}">
                        {{agent.name}}
                        {{' '}}
                        {{agent.family}}
                        {{'/'}}
                        {{agent.city.name}}
                      </option>
                  {% endfor %}
                </select>
              </div>
            
            <button class="col-sm-6  btn btn-success btn-sm mx-auto" type="submit" name="button">
              <strong class="h6">
                ارسال
              </strong>
            </button>
          </form>
          <hr>
          
        </div>
         
        
      </div>
     

          
{# Order Product #}
{% for order in orders %}

<!-- Order details modal -->
<div class="modal fade orderDetail" id="order{{order.id}}">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-success justify-content-start pb-0">
        <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
        <p class="heading lead"> 
          مشخصات سفارش
          {{order.fullName}}
        </p>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center  ">
        <table  class="table pt-2 pb-2 text-center">
          <tbody>
            <tr class="text-center">
              <th>نام و نام خانوادگی</th>
              <th>شماره موبایل</th>
              <th>شماره تلفن</th>
              <th>کد ارسالی</th>
              <th>استان</th>
              <th>شهر</th>
            </tr>
            <tr>
              <td>{{order.fullName}}</td>
              <td>{{order.mobile}}</td>
              <td>{{order.telephone}}</td>
              <td>-</td>
              <td>{{order.state.name}}</td>
              <td>{{order.city.name}}</td>
            </tr>
            <tr class="text-center">
              <th>کد پستی</th>
              <th>کد پیگیری</th>
              <th>مبلغ مشارکت پایه</th>
            </tr>
            <tr>
              <td>{{ order.postalCode }}</td>
              <td>{{ order.trackingCode }}</td>
              <td>
                    <span>
                      {{'داخل شهر:'}}
                      {{user.internalPrice}}
                    </span>/
                    <span>
                      {{'حومه شهر:'}}
                      {{user.locallyPrice}}
                      </span>/
                    <span>
                      {{'روستا:'}}
                      {{user.villagePrice}}
                    </span>

              </td>
            </tr>
          </tbody>
        </table>
        <strong>آدرس:</strong>
        {{order.address}}
        <hr>
        <table  class="table pt-2 pb-2 text-center">
          <tbody>
            <tr class="text-center">
              <th>محصول</th>
              <th>نوع</th>
              <th>مبلغ</th>
              <th>تعداد</th>
              <th>تخفیف</th>
              <th>مبلغ مشارکت ویژه</th>
              <th>جمع</th>
            </tr>
            {% for item in order.products %}
              <tr class="text-center">

                <td>{{ item.product.name }}</td>
                {% if item.product_type is null %}
                  <td>{{ 'ندارد' }}</td>
                {% else %}
                  <td>{{ item.type.name }}</td>
                {% endif %}
                <td class="number">{{ item.product.price }}</td>
                <td>{{ item.count }}</td>
                <td class="number">{{ item.off }}</td>
                <td>
                  {% for share in user.tariffs %}

                    {% if share.product_id == item.product.id %}
                      {% if share.place == "internal" %}
                        {{'داخل شهر'}}
                      {% elseif share.place == "suburb" %}
                        {{'حومه شهر'}}
                      {% else %}
                        {{'روستا'}}
                      {% endif %}
                      {{':'}}
                      {{share.price | number_format}}
                      {{'<br />'}}
                    {% endif %}

                  {% endfor %}

                </td>
                <td class="row_total number">{{ (item.product.price * item.count) - item.off  }}</td>
              </tr>

            {% endfor %}

          </tbody>

        </table>
       <!-- 
        #########
        More Details
        #########
       -->
       <hr>
       <table  class="table pt-2 pb-2 text-center">
        <tbody>
          <tr class="text-center">
            <th>نوع پرداخت</th>
            <th>مبلغ پرداخت نقدی</th>
            <th>مبلغ پرداخت چکی</th>
            <th>پیش پرداخت</th>
          </tr>
          <tr class="text-center">
            {% if order.paymentMethod == "cash" %}
              <td>{{ 'نقدی' }}</td>
            {% else %}
              <td>{{ 'نقدی + چک' }}</td>
            {% endif %}
            <td class="number">{{ order.cashPrice | number_format }}</td>
            <td class="number">{{ order.chequePrice | number_format }}</td>
            <td class="pre_payment number">{{ order.prePayment | number_format }}</td>
          </tr>
          <tr class="text-center">
            <th>هزینه ارسال</th>
            <th>مبلغ مشارکت</th>
            <th>قابل پرداخت</th>
          </tr>
          <tr class="text-center">
            <td class="post_price number">2000</td>
            <td class="number">0</td>
            <td class="total number"></td>
          </tr>
        </tbody>
        </table>
        <hr>
      <table  class="table bg-white pt-2 pb-2 text-center">
      <tbody>
          <tr class="text-center">
            <th>توضیحات ارسال</th>
            <th>توضیحات فروشنده</th>
          </tr>
          
              <tr class="text-center">
                <td>{{order.sendDescription}}</td>
                <td>{{ order.sellerDescription }}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--End order details modal -->
</div>
{% endfor %}
{# Order Product #}



{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}

