{% extends 'Admin/Master/layout' %}

{% block title %}
   سفارشات در انتظار تحویل
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':' سفارشات در انتظار تحویل'} %}
{% endblock %}

{% block content %}

  {% include 'Messages/switchSuccess' %}
  {% set user = auth_user() %}
  
   
     


<!--End order details modal -->
  <div class="row">
    <div class="card col-sm-12">
     
                
                <!-- /.card-header -->
                <div class="card-body col-12 mx-auto">
                
                  <table   class="table table-striped table-bordered table-sm text-center" cellspacing="0"
                width="100%">
                    <thead>
                    <tr>
                      
                      <th>شماره<br> سفارش</th>
                      <th>نماینده</th>
                      <th>نام خریدار</th>
                      <th>تاریخ ثبت</th>
                      {# <th>تاریخ تخصیص</th> #}
                      <th>استان-شهر</th>
                      <th>کد پستی</th>
                      <th>همراه-ثابت</th>
                      <th>نوع پرداخت</th>
                      <th>عملیات</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                      <tr>
                        
                        <td>{{order.id}}</td>
                        <td>
                          {{order.agent.name}}{{' '}}{{order.agent.family}}
                          {{'/'}}
                          {{order.agent.state.name}}{{'-'}}{{order.agent.city.name}}
                        </td>
                        <td>{{order.fullName}}</td>
                        <td class="timestamp">{{order.created_at | date('Y-m-d')}}</td>
                        {# <td>{{'-'}}</td> #}
                        <td>{{order.state.name}}{{'-'}}{{order.city.name}}</td>
                        <td>{{order.postalCode}}</td>
                        <td>{{order.mobile}}<br>{{order.telephone}}</td>
                        {% if order.paymentMethod == 'cash' %}
                          <td>{{'نقدی'}}</td>
                        {% else %}
                          <td>{{'غیر نقدی'}}</td>
                        {% endif %}
                        <td>
                          <a title="جزئیات این سفارش" class="text-secondary" data-toggle="modal" href="#order{{order.id}}">
                            <sub class="text-dark">
                              {{order.products.count()}}
                            </sub>
                            <i class="fas fa-shopping-basket crud-icon"></i>
                          </a>
                          {# <a title="فاکتور" class="text-secondary" href="{{route('orders.Factor',order.id)}}"
                          target="_blank">
                            <i class="fa fa-book crud-icon"></i>
                          </a> #}
                          {# <a title="تعیین وضعیت" class="text-secondary" data-toggle="modal" href="#condition">
                              <i class="fa fa-cogs crud-icon"></i>
                          </a> #}
                          {# <a  title="ویرایش" class="text-warning mx-auto"
                            href="#">
                            <i class="far fa-edit crud-icon"></i>
                          </a> #}
                        </td>
                      </tr>
                   
                    {% endfor %}
                    </tbody>
                    <tfoot>
                      {{ order.render() | raw }}
                    </tfoot>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
          </div>

      
      {# 
      ######### ORDERS START MODAL  
      #}
      {% include 'Admin/Master/Repetitive/order-details-modal' with {'orders':orders} %}
      {#
      ######### ORDERS END MODAL
      #}

{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}


     
