 <!-- Navbar -->
 <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <!-- Left navbar links -->

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-align-justify crud-icon"></i></a>
      </li>
    {% if auth_user().getRoleNames().first() == "admin" or session('adminLogIn') %}
      <li class="nav-item">
        <a title="افزودن محصول" class="nav-link"  href="{{route('products.create')}}">
          <i class="far fa-plus-square  crud-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a title="ایجاد اکانت" class="nav-link"  href="{{route('users.create')}}">
        <i class="fas fa-user-plus  crud-icon"></i>
        </a>
      </li>
      {% endif %}


    </ul>


    <!-- Right navbar links -->
    <ul class="navbar-nav mr-auto">
      <!-- Messages Dropdown Menu -->
     
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell crud-icon"></i>
          <span class="badge badge-secondary navbar-badge" style="font-size:12px;">
            {{notifs}}
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left">
          <span class="dropdown-item dropdown-header">
          {# 15  #}
          نوتیفیکیشن</span>
          <div class="dropdown-divider"></div>
          {% if notifs > 0 %}
              <a 
              {% if role.name == "agent" or role.name == "agentChief" %}
                href="{{route('storeRooms.AgentReceive')}}"
              {% elseif role.name == "fundWarehouser" %}
                href="{{route('storeRooms.mainReceive')}}"
              {% else %}
                href="#"
              {% endif %}
               class="dropdown-item">
                <i class="fa fa-envelope ml-2"></i> 
                {{notifs}}
                ورودی تایید نشده
                {# <span class="float-left text-muted text-sm">3 دقیقه</span> #}
              </a>
          {% else %}
              <div class="text-center text-muted">
                چیزی برای نمایش وجود ندارد
              </div>
          {% endif %}
          <div class="dropdown-divider"></div>
          {# <a href="#" class="dropdown-item dropdown-footer">مشاهده همه نوتیفیکیشن</a> #}
        </div>
      </li>
      <li class="nav-item">
        {% if session('adminLogIn')  %}
          <a title="برگشت به ادمین پنل" class="nav-link"  href="{{route('users.backToPerivouseAccount')}}">
            <i class="fas fa-arrow-left crud-icon"></i>
          </a>
        {% else %}
        <a title="خروج از حساب" class="nav-link"  href="{{route('logout')}}">
            <i class="text-danger fas fa-sign-out-alt crud-icon"></i>
        </a>
        {% endif %}
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
