 <!-- Navbar -->
 <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <!-- Left navbar links -->

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-align-justify crud-icon"></i></a>
      </li>
    {% if auth_user().getRoleNames().first() == "admin" or session('adminLogIn') %}
      <li class="nav-item">
        <a title="افزودن محصول" class="nav-link"  href="{{route('products.create')}}">
          <i class="far fa-plus-square  crud-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a title="ایجاد اکانت" class="nav-link"  href="{{route('users.create')}}">
        <i class="fas fa-user-plus  crud-icon"></i>
        </a>
      </li>
      {% endif %}


    </ul>


    <!-- Right navbar links -->
    <ul class="navbar-nav mr-auto">
      <!-- Messages Dropdown Menu -->
     
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell crud-icon"></i>
          <span class="badge badge-secondary navbar-badge" style="font-size:12px;">
            {{notifs + orderNotif + AgentReturnedProduct + Agentpayments + Agentpayments}}
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left">
          <span class="dropdown-item dropdown-header">
          {# 15  #}
          نوتیفیکیشن</span>
          <div class="dropdown-divider"></div>
          
              {#
              --------------------------------------------------------------------------
               Notification
              --------------------------------------------------------------------------
              #}
              {% if role.name == "agent" %}
                {% include 'Admin.Master.HeaderNotif.Agent' %}
              {% elseif role.name == "fundWarehouser" %}
                {% include 'Admin.Master.HeaderNotif.FundWareHouser' %}
              {% elseif role.name == "followUpManager" %}
                {% include 'Admin.Master.HeaderNotif.FollowUpManager' %}
              {% elseif role.name == "mainWarehouser" %}
                {% include 'Admin.Master.HeaderNotif.MainWareHouser' %}
              {% elseif role.name == "admin" %}
                {% include 'Admin.Master.HeaderNotif.Admin' %}
              {% endif %}
              {#
              --------------------------------------------------------------------------
               Notification Count
              --------------------------------------------------------------------------
              #}
              
              {% set notifCount = orderNotif + notifs + Agentpayments + AgentReturnedProduct + Agentpayments %}
              {% if  notifCount <= 0 %}
                  <div class="text-center text-muted">
                    چیزی برای نمایش وجود ندارد
                  </div>
              {% endif %}


          <div class="dropdown-divider"></div>
          {# <a href="#" class="dropdown-item dropdown-footer">مشاهده همه نوتیفیکیشن</a> #}
        </div>
      </li>
      <li class="nav-item">
        {% if session('adminLogIn')  %}
          <a title="برگشت به ادمین پنل" class="nav-link"  href="{{route('users.backToPerivouseAccount')}}">
            <i class="fas fa-arrow-left crud-icon"></i>
          </a>
        {% else %}
        <a title="خروج از حساب" class="nav-link"  href="{{route('logout')}}">
            <i class="text-danger fas fa-sign-out-alt crud-icon"></i>
        </a>
        {% endif %}
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
