 <!-- Main Sidebar Container -->
 <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    {# <a href="{{url('/')}}" class="brand-link text-center"> #}
      {# <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">  #}
      {# <span class="brand-text font-weight-light ">پنل مدیریت</span>
    </a> #}

    <!-- Sidebar -->
    <div class="sidebar" style="direction: ltr">
      <div style="direction: rtl">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            {% if user.image_id is not null %}
                <img style="width:50px;" src="{{ user.avatarUrl }}" class="img-circle" alt="User Image">
            {% elseif user.sex == 1 %}
                <img style="width:50px;" src="{{asset('img/User/male.png')}}" class="img-circle" alt="User Image">
            {% else %}
                <img style="width:50px;" src="{{asset('img/User/female.png')}}" class="img-circle" alt="User Image">
            {% endif %}
          </div>
          <div class="info">
            <a href="#" class="d-block dana-bold">
              {{user.name}} {{" "}} {{user.family}}
              <br />
              <small>
                {{role.persianName}}
              </small>
            </a>
          </div>
        </div>

       
      
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                
                <!--
                Admin Sidebar
                -->
                {% if role.name == "admin" %}
                    {% include 'Admin/Master/SideBarRole/Admin' %}
                <!--
                Agent Sidebar
                -->
                {% elseif role.name == "agent" %}
                    {% include 'Admin/Master/SideBarRole/Agent' %}
                <!--
                AgentChief Sidebar
                -->
                {% elseif role.name == "agentChief" %}
                    {% include 'Admin/Master/SideBarRole/agentChief' %}
                <!--
                Seller Sidebar
                -->
                {% elseif role.name == "seller" %}
                    {% include 'Admin/Master/SideBarRole/Seller' %}
                <!--
                FundWareHouser Sidebar
                -->
                {% elseif role.name == "fundWarehouser" %}
                    {% include 'Admin/Master/SideBarRole/FundWareHouser' %}
                <!--
                  MainWareHouser Sidebar
                -->
                {% elseif role.name == "mainWarehouser" %}
                    {% include 'Admin/Master/SideBarRole/MainWareHouser' %}
                <!--
                  FollowUpManager Sidebar
                -->
                {% elseif role.name == "followUpManager" %}
                  {% include 'Admin/Master/SideBarRole/FollowUpManager' %}
                <!--
                  callCenter Sidebar
                -->
                {% elseif role.name == "callCenter" %}
                  {% include 'Admin/Master/SideBarRole/callCenter' %}
                {% endif %}
                
              

          </ul>
        </nav>
        <!-- /.sidebar-menu -->


       {# profile edit #}
        <nav class="mt-2">
        <hr style="border-color:#4f5962;" />
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
              <li class="nav-item">
                <a href="{{route('users.public.edit',auth_user().username )}}" class="nav-link">
                  <i class="far fa-user"></i>
                  <p>
                    ویرایش پروفایل
                  </p>
                </a>
              </li>
          </ul>
        </nav>
        {# end profile edit #}


      </div>
    </div>
    <!-- /.sidebar -->
  </aside>
