{% extends 'Admin/Master/layout' %}

{% block title %}
  نمایندگان
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'نمایندگان'} %}
{% endblock %}

{% block content %}
<div >
  <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="2"
  width="100%">
      <thead>
        <tr>
          <th>نام</th>
          <th>ارسال خودکار</th>
          <th>استان</th>
          <th>نام کاربری</th>
          <th>مدیر نماینده</th>
          <th>تعرفه پیش فرض داخلی</th>
          <th>تعرفه پیش فرض حومه</th>
          <th>تعرفه پیش فرض روستا</th>
          <th>نوع محاسبه مشارکت</th>
          <th>عملیات</th>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>{{user.name}}</td>

          {% if user.sendAuto != null %}
              <td class="text-success">{{'فعال'}}</td>
          {% else %}
              <td class="text-danger">{{'غیر فعال'}}</td>
          {% endif %}

          <td>{{user.state.name}}</td>

          <td>{{user.username}}</td>

          {% if user.chief.name != null %}
            <td>{{user.chief.username}}</td>
          {% else %}
            <td class="text-info">{{'ندارد'}}</td>
          {% endif %}

          <td>{{user.internalPrice}}</td>

          <td>{{user.locallyPrice}}</td>

          <td>{{user.villagePrice}}</td>

          {% if user.calType != null %}
            <td>{{'مبلغ فاکتور'}}</td>
          {% else %}
            <td>{{'تعرفه تعیین شده'}}</td>
          {% endif %}
          <td>
            <a href="{{route('users.edit',user.id)}}" >
              <i class="far fa-edit crud-icon text-warning"></i>
            </a> 
            <a href="{{route('users.destroy',user.id)}}" >
              <i class="far fa-trash-alt crud-icon text-danger"></i>
            </a> 
          </td>
        </tr>
      {% endfor %}
      </tbody>

    </table>

</div>
{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}
