{% extends 'Admin/Master/layout' %}

{% block title %}
  {{ user.name }}{{' '}}{{ user.family }}
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{asset('AdminPanel/switch-button/bootstrap-switch-button.min.css')}}">
  <link rel="stylesheet" href="{{asset('AdminPanel/select2/select2.min.css')}}">
  <link rel="stylesheet" href="{{asset('AdminPanel/check-box/checkboxes.min.css')}}">
  <style>
     .switch{
        width: 133.188px!important;
        height: 45.875px!important;
      }
  </style>

{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'ویرایش کاربر'} %}
{% endblock %}

{% block content %}

  {% include 'Messages/message' %}

  {% include 'Messages/errors' %}


<form action="{{route('users.update',user.id)}}" method="post">
  <input type="hidden" name="_token" value="{{ csrf_token() }}" />
  <input type="hidden" name="_method" value="put" />
  <div class="row bg-white pt-3 pb-3">
    <h4 class="col-12 pt-2 pb-3">
      اطلاعات عمومی
    </h4>
    {# نام #}
    <div class="row mx-4">
      <div class="col-sm-4 md-form mb-4">
        <input type="text" id="inputIconEx1" class="form-control" name="name" value="{{user.name}}">
        <label for="inputIconEx1">نام</label>
      </div>
      {# نام #}
      {# نام خانوادگی #}
      <div class="col-sm-4 md-form mb-4">
        <input type="text" id="inputIconEx2" class="form-control" name="family" value="{{user.family}}">
        <label for="inputIconEx2">نام خانوادگی</label>
      </div>
      {# نام خانوادگی  #}
      {# شماره تماس #}
      <div class="col-sm-4 md-form mb-4">
        <input type="text" id="inputIconEx3" class="form-control" name="mobile" value="{{user.mobile}}">
        <label for="inputIconEx3">شماره تماس</label>
      </div>
      {#شماره تماس #}
      {# جنسیت #}
      <div class="col-sm-4 mb-4">
        <select class="form-control "  name="sex">
            <option {% if user.sex != 0 %} selected {% endif %} value="1">مرد</option>
            <option {% if user.sex != 1 %} selected {% endif %} value="0">زن</option>
        </select>
      </div>
      {# جنسیت #}
      {# نقش #}
      {% set userRole = user.getRoleNames().first() %}
      <div class="col-sm-4 mb-4 d-none">
        <select id="user_role" class="form-control"  name="role">
            <option selected>نقش کاربر را مشخص کنید</option>
            {% for role in roles %}
                <option {% if userRole == role.name %} selected {% endif %} value="{{role.id}}">{{role.persianName}}</option>
            {% endfor %}
        </select>
      </div>
      <div class="col-sm-4 mb-4">
        {% for role in roles %}
            {% if userRole == role.name %}
              <select class="form-control" Disabled>
                <option>{{role.persianName}}</option>
              </select>
             {% endif %} 
        {% endfor %}
      </div>
  
      {# نقش #}

    </div>
  </div>
  <div class="row bg-white pt-3 pb-3">
    <h4 class="col-12 pt-2 pb-3">
      اطلاعات تخصصی
    </h4>
    <div class="col-12 mx-4 otherRolesFields">
      <div class="row">
        {#مدیر نماینده  #}
        <div class="col-sm-4 mb-4 d-none">
          <select id="agent_id" class="form-control "  name="agent_id">
            <option selected value="{{null}}">مدیر نماینده را انتخاب کنید</option>

            {% for chief in agentChiefs %}
              <option value="{{chief.id}}">{{chief.persianName}}</option>
            {% else %}
                <option Disabled >چیزی برای انتخاب وجود ندارد</option>
            {% endfor %}
          </select>
        </div>
        {# مدیر نماینده #}
        {#callcenter manager   #}
        <div class="col-sm-4 mb-4 d-none">
          <select id="callcenter_id" class="form-control "  name="callCenter">
              <option selected value="{{null}}"> کالسنتر را انتخاب کنید</option>
            {% for callCenter in callCenters %}
              <option  {% if callCenter.id == user.callCenter %} selected {% endif %} value="{{callCenter.id}}">{{callCenter.username}}</option>
            {% endfor %}
          </select>
        </div>
        {# callcenter manager  #}
        <div class="col-12"></div>
        {#پورسانت فروشنده  #}
        <div class="col-sm-4 md-form mb-4 d-none">
          <input type="text" id="porsantSeller" class="form-control number" name="porsantSeller" value="{{user.porsantSeller | number_format }}">
          <label for="porsantSeller">پورسانت</label>
        </div>
        {#پورسانت فروشنده #}
        {# تعرفه پایه داخلی #}
        <div class="col-sm-4 md-form mb-4 d-none">
            <input type="text" id="tariff_internal" class="form-control number" name="internal" value="{{user.internalPrice | number_format }}">
            <label for="tariff_internal">تعرفه پایه داخل</label>
        </div>
        {# تعرفه پایه داخلی #}
        {# تعرفه پایه حومهی #}
        <div class="col-sm-4 md-form mb-4 d-none">
            <input type="text" id="tariff_locally" class="form-control number" name="locally" value="{{user.locallyPrice | number_format }}">
            <label for="tariff_locally">تعرفه پایه حومه</label>
        </div>
        {# تعرفه پایه حومه #}
        {# تعرفه پایه روستای #}
        <div class="col-sm-4 md-form mb-4 d-none">
            <input type="text" id="tariff_village" class="form-control number" name="village" value="{{user.villagePrice | number_format }}">
            <label for="tariff_village">تعرفه پایه روستا</label>
        </div>
        {# تعرفه پایه روستا #}
        {# auto send #}
        <div class="col-12"></div>
        <div class="col-sm-4 mb-4 d-none">
          <h6>ارسال سفارش
          </h6>
          <input id="send_order" type="checkbox"

            data-toggle="switchbutton"
            data-onstyle="success"
            data-offstyle="danger"
            data-onlabel="خودکار"
            data-offlabel="دستی" name="sendAuto" {% if user.sendAuto != null %} checked {% endif %}>
        </div>
        {# end auto send #}
        {# auto send #}
        <div class="col-sm-4 mb-4 d-none">
          <h6>برگشت کالا از انبار

          </h6>
          <input id="return_product" style="font-size:30px;"  type="checkbox"

            data-toggle="switchbutton"
            data-onstyle="success"
            data-offstyle="danger"
            data-onlabel="فعال"
            data-offlabel="غیر فعال" name="backToWareHouse" {% if user.backToWareHouse != null %} checked {% endif %}>
        </div>
        {# end auto send #}
        {# auto send #}
        <div class="col-sm-4 mb-4 d-none">
          <h6>نوع محاسبه هزینه کالا
          </h6>
          <input id="calType" type="checkbox"

            data-toggle="switchbutton"
            data-onstyle="success"
            data-offstyle="info"
            data-onlabel="مبلغ فاکتور"
            data-offlabel="تعرفه تعیین شده" name="calType" {% if user.calType != null %} checked {% endif %}>
        </div>
        {# end auto send #}
      </div>
    </div>
    <div class="col-12 mx-4 callcenterFields d-none">
      <div class="row">
        {# price calculation type #}
        <div class="col-sm-4 mb-4">
          <h6>نوع محاسبه هزینه کالا
          </h6>
          <input type="checkbox"
            {% if user.calTypeCallCenter is not null %} checked {% endif %}
            data-toggle="switchbutton"
            data-onstyle="success"
            data-offstyle="info"
            data-onlabel="مبلغ فاکتور"
            data-offlabel="تعرفه تعیین شده" name="calTypeCallCenter">
        </div>
        {# price calculation type #}
        <div class="col-12"></div>
        {# امکان بارگذاری شماره #}
        <div class="col-sm-4 mb-4">
          <h6>امکان بارگذاری شماره
            <span class="text-danger">*</span>
          </h6>
          <div class="ckbx-style-11">
              <input {% if user.allowNumber is not null %} checked {% endif %} type="checkbox" id="numberUpload" value="active" name="allowNumber">
              <label for="numberUpload"></label>
          </div>
        </div>
        {# امکان بارگذاری شماره #}

        {# امکان وارد کردن شماره تکراری #}
        <div class="col-sm-4 mb-4">
          <h6>امکان وارد کردن شماره تکراری
            <span class="text-danger">*</span>
          </h6>
          <div class="ckbx-style-11">
              <input {% if user.allowNumberDup is not null %} checked {% endif %} type="checkbox" id="repeatedNumber" value="active" name="allowNumberDup">
              <label for="repeatedNumber"></label>
          </div>
        </div>
        {# امکان وارد کردن شماره تکراری #}

        {# امکان وارد کردن سفارش از ثبت سفارش جدید #}
        <div class="col-sm-4 mb-4">
          <h6>امکان وارد کردن سفارش از ثبت سفارش جدید
            <span class="text-danger">*</span>
          </h6>
          <div class="ckbx-style-11">
              <input {% if user.allowNewOrder is not null %} checked {% endif %} type="checkbox" id="addOrderFromNewOrder" value="active" name="allowNewOrder">
              <label for="addOrderFromNewOrder"></label>
          </div>
        </div>
        {# امکان وارد کردن سفارش از ثبت سفارش جدید #}

        {# امکان برگشت شماره #}
        <div class="col-sm-4 mb-4">
          <h6>امکان برگشت شماره
            <span class="text-danger">*</span>
          </h6>
          <div class="ckbx-style-11">
              <input {% if user.allowNumberBack is not null %} checked {% endif %} type="checkbox" id="numberReturn" value="active" name="allowNumberBack">
              <label for="numberReturn"></label>
          </div>
        </div>
        {# امکان برگشت شماره #}
        {# امکان ویرایش شماره تلفن #}
        <div class="col-sm-4 mb-4">
          <h6>امکان ویرایش شماره تلفن
            <span class="text-danger">*</span>
          </h6>
          <div class="ckbx-style-11">
              <input {% if user.allowNumberEdit is not null %} checked {% endif %} type="checkbox" id="editNumber" value="active" name="allowNumberEdit">
              <label for="editNumber"></label>
          </div>
        </div>
        {# امکان ویرایش شماره تلفن #}

        {# نمایش تاریخ دریافت پیامک #}
        <div class="col-sm-4 mb-4">
          <h6> نمایش تاریخ دریافت پیامک
            <span class="text-danger">*</span>
          </h6>
          <div class="ckbx-style-11">
              <input {% if user.messageStatus is not null %} checked {% endif %} type="checkbox" id="smsDate" value="active" name="messageStatus">
              <label for="smsDate"></label>
          </div>
        </div>
        {# نمایش تاریخ دریافت پیامک #}
        {# نوع کال سنتر #}
        <div class="col-sm-4 mb-4">
          <h6>نوع کالسنتر</h6>
          <div class="form-check">
            <label class="form-check-label">
              <input {% if user.callCenterType == "normal" %} checked {% endif %} type="radio" class="form-check-input" name="callCenterType" value="normal" checked>معمولی
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input {% if user.callCenterType ==  "marketer" %} checked {% endif %} type="radio" class="form-check-input" name="callCenterType" value="marketer">بازاریاب
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input {% if user.callCenterType == "channelDist" %} checked {% endif %} type="radio" class="form-check-input" name="callCenterType" value="channelDist">مویرگی
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-white pt-2 pb-3 mt-5">
    <h4 class="col-12 pt-2 pb-3">
    اطلاعات مکان
    </h4>
   
    {# state #}
    <div class="col-sm-5  mt-5">
      <label for="state">استان
      </label>
      <select id="state" class="form-control"  name="state">
        <option value="{{null}}">استان را انتخاب کنید</option>
        {% for state in states %}
        <option {% if state.id == user.state_id %} selected {% endif %} value="{{state.id}}">{{state.name}}</option>
        {% endfor %}
      </select>
    </div>
    {# city #}
    <div class="col-sm-5  mt-5">
      <label for="city">شهر
      </label>
      <select id="city" class="form-control" name="city">
        <option value="{{null}}">شهر را انتخاب کنید</option>
          {% for city in cities %}
            <option {% if city.id == user.city_id %} selected {% endif %} value="{{city.id}}">{{city.name}}</option>
          {% endfor %}
      </select>
    </div>
    {# city  #}
    <div class="col-sm-5  mt-5">
      <label for="city">شهر
      </label>
      <select id="city" class="form-control" name="city">
        <option value="{{null}}">شهر را انتخاب کنید</option>
        {% for city in cities %}
        <option {% if city.id == user.city_id %} selected {% endif %} value="{{city.id}}">{{city.name}}</option>
        {# <option value="{{city.id}}">{{city.name}}</option> #}
        {% endfor %}
      </select>
    </div>
    {# شهر  #}
    {# <div class="col-sm-5  mt-5">
      <select class="cities col-12 bg-white" name="state">
        {% for city in cities %}
          <optgroup class="bg-info" label="{{city.name}}">
              {% for state in city.states %}
                <option {% if state.id == user.state_id %} selected {% endif %} value="{{state.id}}">{{state.name}}</option>
              {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </div> #}
    {# شهر #}
    {# آدرس کامل #}
    <div class="md-form col-sm-7">
      <i class="fas fa-pencil-alt prefix text-dark"></i>
      <textarea name="address" id="form10" class="md-textarea form-control" rows="8" cols="80">{{ user.address }}</textarea>
      <label for="form10">آدرس کامل</label>
    </div>
    {# آدرس کامل #}
    <div class="col-12"></div>
      {#   status #}
      <div class="col-sm-4 mt-5">
          <h6>
              وضعیت کاربر
          </h6>
          <input type="checkbox"
                 data-toggle="switchbutton"
                 data-onstyle="success"
                 data-offstyle="danger"
                 data-onlabel="فعال"
                 data-offlabel="غیر فعال" name="status" {% if user.status != null %} checked {% endif %}>
      </div>
      {#   status #}

      <div class="col-12 text-center mt-5">
        <button class="btn btn-success" type="submit" name="button">
          <strong class="h6 text-dark">
            ویرایش کاربر
          </strong>
        </button>
      </div>
  </div>


</form>
{# cities Under Control #}
{% if userRole == "followUpManager" %}
<div id="citiesUnderControl" class="row bg-white pt-2 pb-3 mt-5 ">
 <div class="mx-auto col-sm-8">
  {% include 'Messages/info' %}
 </div>
  <h4 class="col-12 pt-2 pb-3 text-center">
  استان های تحت پیگیری
  </h4>
  <div class="col-sm-4 mb-4 mx-auto">
    <table class="table table-bordered table-striped">
      <div>
        <form action="{{route('users.followUpManager.cityStore')}}" >
          <input type="hidden" name="_token" value="{{csrf_token()}}" />
          <input type="hidden" name="user_id" value="{{user.id}}" />
          <div class="input-group mb-3 md-form">
            {# <input name="CityName" placeholder="نام شهر را وارد کنید" id="inputValidationEx" type="text" class="form-control text-light"  required> #}
            <select name="CityName" class="form-control" required>
              {% for state in states %}
                <optgroup label="{{state.name}}">
                    {% for city in state.cities %}
                      <option  value="{{city.name}}">{{city.name}}</option>
                    {% endfor %}
                </optgroup>
              {% endfor %}
            </select>
            <div class="input-group-append">
              <button  class="btn btn-sm btn-info input-group-text text-dark m-0">
                  <i class="far fa-plus-square crud-icon"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <tbody>
        <tr>
          <td>ردیف</td>
          <td>شهر</td>
          <td>عملیات</td>
        </tr>
      {% for cityControl in user.citiesUnderControl %}
        <tr>
          <td>#</td>
          <td>{{cityControl.name}}</td>
          <td>
            {# Form Delete #}
              <a title="حذف" href="{{route('users.followUpManagerCityClear',cityControl.name)}}">
                <i class="far fa-trash-alt text-danger crud-icon"></i>
              </a>
            {# Form Delete #}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endif %}
{# cities Under Control #}



{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}

{% block scripts %}
  <script src="{{asset('AdminPanel/select2/select2.full.min.js')}}"></script>
  <script src="{{asset('AdminPanel/switch-button/bootstrap-switch-button.min.js')}}"></script>

  <script type="text/javascript">
  // In your Javascript (external .js resource or <script> tag)
  $(document).ready(function() {
      $('.cities').select2();
      
  });
  </script>
{% endblock %}
