{% extends 'Admin/Master/layout' %}

{% block title %}
  کالسنتر ها
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{asset('AdminPanel/check-box/checkboxes.min.css')}}">
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'کالسنتر ها'} %}
{% endblock %}

{% block content %}

        {% include 'Messages/message' %}

                <table  id="callcenterTable" class="table table-striped table-bordered table-sm" cellspacing="0"
                width="100%">
                  <thead>
                  <tr class="text-center">
                    <th>نام</th>
                    <th>نام کاربری</th>
                    <th>نوع کالسنتر</th>
                    <th>ثبت جدید</th>
                    <th >ویرایش شماره تلفن</th>
                    <th >نحوه محاسبه پورسانت</th>
                    <th >امکان تعیین درصد</th>
                    <th >عملیات</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for user in users %}
                    <tr class="text-center">
                      <td>{{user.name}}</td>
                      <td>{{user.username}}</td>
                      <td>
                        {% if user.callCenterType == "channelDist" %}
                          {{'مویرگی'}}
                        {% elseif user.callCenterType == "marketer" %}
                          {{'بازاریابی'}}
                        {% else %}
                          {{'معمولی'}}
                        {% endif %}
                      </td>
                      <td>
                        {# ارسال پیامک #}

                          <div class="ckbx-style-11">
                              <input {% if user.allowNewOrder is not null %} checked {% endif %} type="checkbox" id="ckbx-style-12-1" value="active" name="allowNewOrder">
                              <label for="ckbx-style-12-1"></label>
                          </div>

                        {# ارسال پیامک #}
                      </td>
                      <td>
                        {% if user.allowNumber is null %}
                            {{'ندارد'}}
                        {% else %}
                            {{'دارد'}}
                        {% endif %}
                      </td>
                      {% if user.porsantType is null %}
                        <td class="text-success">  {{'مبلغ ثابت و کالای فاکتور'}} </td>
                      {% else %}
                        <td class="text-danger ">   {{'براساس درصد مبلغ فاکتور'}} </td>
                      {% endif %}

                        <td class="text-danger ">
                           {% if user.determinPercent is null %}
                                {{'ندارد'}}
                            {% else %}
                                {{'دارد'}}
                            {% endif %}
                        </td>


                      <td class="d-flex justify-content-between">

                        <a class="mx-auto" title="اطلاعات اکانت" href="{{route('users.public.edit',user.username )}}" >
                            <i class="far fa-user crud-icon text-primary"></i>
                        </a>
                        <a  title="ویرایش" class="text-warning "
                          href="{{route('users.edit',user.id)}}">
                          <i class="far fa-edit crud-icon"></i>
                        </a>

                        {# Form Delete #}
                          <form action="{{route('users.destroy',user.id)}}" id="formForDelete"  method="POST">
                              <input type="hidden" name="_token" value="{{ csrf_token() }}" />
                              <input type="hidden" name="_method" value="DELETE" />
                            <a title="حذف" href="javascript:{}"
                              onclick="document.getElementById('formForDelete').submit();" >
                              <i class="far fa-trash-alt text-danger crud-icon"></i>
                            </a>
                          </form>
                        {# Form Delete #}

                        <a title="ورود به اکانت" class="text-primary "
                            href="{{ route('users.switchAccount',user.id) }}">
                            <i class="fas fa-sign-in-alt crud-icon"></i>
                        </a>
                      </td>
                    </tr>
                {% endfor %}
                  </tbody>

                </table>









{# seller resources #}
{% for user in users %}
<!-- The Modal -->
<div class="modal fade " id="resources{{user.id}}">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-success justify-content-start pb-0">
        <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
        <p class="heading lead"> مدارک
          {{user.name}}{{' '}}{{user.family}}
         </p>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center ">
        {# user avatar #}
        <div class="col-sm-12">
          <strong>
            نام کاربری:
          </strong>
          {{user.username}}

        </div>
        <div class="col-sm-12">
          <strong>
            نام :
          </strong>
          {{user.name}}
          <strong>
            نام خانوادگی :
          </strong>
          {{user.family}}
        </div>
        <div class="col-12">
            {% if user.image_id is not null %}
              <img  src="{{ user.cardUrl }}" class="img-circle" alt="{{user.name}}">
            {% elseif user.sex == 1 %}
                <img style="width:250px;" src="{{asset('img/User/male.png')}}" class="img-circle" alt="{{user.name}}">
            {% else %}
                <img style="width:250px;" src="{{asset('img/User/female.png')}}" class="img-circle" alt="{{user.name}}">
            {% endif %}
        </div>
        <div>
          <strong>
            تصویر کارت ملی :
          </strong>
        </div>
        <div class="col-12">
           <img  src="/storage/{{ user.uploadCS }}" class="img-circle" alt="{{user.name}}">
        </div>
        {% if user.uploadCS_status is null %}
          <form action="{{route('users.uploadCS_status',user.id)}}">
            <input type="hidden" name="_token" value="{{csrf_token()}}"  />
            <input type="hidden" name="status" value="{{'apply'}}" />
            <button class="btn btn-info btn-sm"  >
              <strong class="text-dark h6">
                تایید مدارک
              </strong>
              <i class="fas fa-check crud-icon text-dark"></i>
            </button>
         </form>
        {% else %}
         <form action="{{route('users.uploadCS_status',user.id)}}">
         <input type="hidden" name="_token" value="{{csrf_token()}}"  />
         <input type="hidden" name="status" value="{{null}}" />
           <button class="btn btn-danger btn-sm"  >

            <strong class="text-dark h6">
              تایید نشده
            </strong>
            <i class="fas fa-times crud-icon text-dark"></i>
          </button>
         </form>
        {% endif %}



      </div>


    </div>
  </div>
</div>

</div>
{% endfor %}
{# seller resources #}






{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}
