{% extends 'Admin/Master/layout' %}

{% block title %}
  {{'افزودن کاربر'}}
{% endblock %}

{% block header %}
  {% include 'Admin/Master/header' %}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{asset('AdminPanel/switch-button/bootstrap-switch-button.min.css')}}">
  <link rel="stylesheet" href="{{asset('AdminPanel/select2/select2.min.css')}}">
  <link rel="stylesheet" href="{{asset('AdminPanel/check-box/checkboxes.min.css')}}">
  <style>
    .switch{
      width: 133.188px!important;
      height: 45.875px!important;
    }
  </style>
{% endblock %}

{% block sidebar %}
  {% include 'Admin/Master/sidebar' %}
{% endblock %}

{% block path %}
  {% include 'Admin/Master/path' with {'title':'افزودن کاربر'} %}
{% endblock %}

{% block content %}

{% include 'Messages/message' %}

{% include 'Messages/errors' %}

<form id="createUserForm" action="{{route('users.store')}}" method="post">
  <input type="hidden" name="_token" value="{{ csrf_token() }}" />
  <div class="row bg-white pt-3 pb-3">
    <h4 class="col-12 pt-2 pb-3">
      اطلاعات عمومی
    </h4>
    {# نام #}
    <div class="row mx-4">
      <div class="col-sm-4 md-form mb-4">
        <input type="text" id="inputIconEx1" class="form-control" name="name" value="{{old('name')}}" required>
        <label for="inputIconEx1">نام</label>
      </div>
      {# نام #}
      {# نام خانوادگی #}
      <div class="col-sm-4 md-form mb-4">
        <input type="text" id="inputIconEx2" class="form-control" name="family" value="{{old('family')}}" required>
        <label for="inputIconEx2">نام خانوادگی</label>
      </div>
      {# نام خانوادگی  #}
      {# شماره تماس #}
      <div class="col-sm-4 md-form mb-4">
        <input type="text" id="inputIconEx3" class="form-control" name="mobile" value="{{old('mobile')}}" required>
        <label for="inputIconEx3">شماره تماس</label>
      </div>
      {#شماره تماس #}
      {# جنسیت #}
      <div class="col-sm-4 mb-4">
        <select class="form-control "  name="sex" required>
            <option  {% if old('sex') == null %} selected {% endif %} value="{{null}}" selected>جنسیت کاربر را مشخص کنید</option>
            <option  {% if old('sex') == 1 %} selected {% endif %} value="1">مرد</option>
            <option  {% if old('sex') == 0 %} selected {% endif %} value="0">زن</option>
        </select>
      </div>
      {# جنسیت #}
      {# نقش #}
      <div class="col-sm-4 mb-4">
        <select id="user_role" class="form-control"  name="role" required>
            <option value="{{null}}" selected>نقش کاربر را مشخص کنید</option>
            {% for role in roles %}
            <option {% if old('role') == role.id %} selected {% endif %} value="{{role.id}}" >{{role.persianName}}</option>
            {% endfor %}
        </select>
      </div>
      {# نقش #}
    </div>
  </div>
  <div class="row bg-white pt-3 pb-3">
    <h4 class="col-12 pt-2 pb-3">
      اطلاعات تخصصی
    </h4>
    <div class="col-12 mx-4 otherRolesFields">
      <div class="row">
        {#مدیر نماینده  #}
        <div class="col-sm-4 mb-4 d-none">
          <select id="agent_id" class="form-control"  name="agent_id">
            <option selected value="{{null}}">بدون مدیر نماینده</option>
            {% for chief in agentChiefs %}
            {{dump(chief)}}
              <option {% if old('agent_id') == chief.id %} selected {% endif %}
               value="{{chief.id}}">
               {{chief.name}}{{' '}}{{chief.family}}
               {{'/'}}
               {{chief.state.name}}{{'-'}}{{chief.city.name}}
              </option>
            {% else %}
                <option Disabled >چیزی برای انتخاب وجود ندارد</option>
            {% endfor %}
          </select>
        </div>
        {# مدیر نماینده #}
        {# مدیر کالسنتر #}
        <div class="col-sm-4 mb-4 d-none">
          <select id="callcenter_id" class="form-control"  name="callCenter">
              <option selected value="{{null}}"> کالسنتر را انتخاب کنید</option>
            {% for callCenter in callCenters %}
              <option  {% if old('callCenter') == callCenter.id %} selected {% endif %} value="{{callCenter.id}}">{{callCenter.username}}</option>
            {% endfor %}
          </select>
        </div>
        {# مدیر کالسنتر #}
        <div class="col-12"></div>
        {#پورسانت فروشنده  #}
        <div class="col-sm-4 md-form mb-4 d-none">
          <input type="text" id="porsantSeller" class="form-control comma" name="porsantSeller" value="{{old('porsantSeller')}}">
          <label for="porsantSeller">پورسانت</label>
        </div>
        {#پورسانت فروشنده #}
        {# تعرفه پایه داخلی #}
        <div class="col-sm-4 md-form mb-4 d-none">
            <input type="text" id="tariff_internal" class="form-control comma" name="internal" value="{{old('internal')}}">
            <label for="tariff_internal">تعرفه پایه داخل</label>
        </div>
        {# تعرفه پایه داخلی #}
        {# تعرفه پایه حومه #}
        <div class="col-sm-4 md-form mb-4 d-none">
            <input type="text" id="tariff_locally" class="form-control comma" name="locally" value="{{old('locally')}}">
            <label for="tariff_locally">تعرفه پایه حومه</label>
        </div>
        {# تعرفه پایه حومه #}
        {# تعرفه پایه روستای #}
        <div class="col-sm-4 md-form mb-4 d-none">
            <input type="text" id="tariff_village" class="form-control comma" name="village" value="{{old('village')}}">
            <label for="tariff_village">تعرفه پایه روستا</label>
        </div>
        {# تعرفه پایه روستا #}
        {# auto send #}
        <div class="col-12"></div>
        <div class="col-sm-4 mb-4 d-none">
          <h6>ارسال سفارش
          </h6>
          <input id="send_order" type="checkbox"
            data-toggle="switchbutton"
            data-onstyle="success"
            data-offstyle="danger"
            data-onlabel="خودکار"
            data-offlabel="دستی" name="sendAuto"
            {% if old('sendAuto') != null %} checked {% endif %}
            >
        </div>
        {# end auto send #}
        {# auto send #}
        <div class="col-sm-4 mb-4 d-none">
          <h6>برگشت کالا از انبار

          </h6>
          <input id="return_product" style="font-size:30px;"  type="checkbox"
            
            data-toggle="switchbutton"
            data-onstyle="success"
            data-offstyle="danger"
            data-onlabel="فعال"
            data-offlabel="غیر فعال" name="backToWareHouse"
            {% if old('backToWareHouse') != null %} checked {% endif %}
            >
        </div>
        {# end auto send #}
        {# auto send #}
        <div class="col-sm-4 mb-4 d-none CalTypeBox">
          <div>
             <h6>نوع محاسبه هزینه کالا
            </h6>
            <input id="calType" type="checkbox"
            
              data-toggle="switchbutton"
              data-onstyle="success"
              data-offstyle="info"
              data-onlabel="مبلغ فاکتور"
              data-offlabel="تعرفه تعیین شده" name="calType"
              {% if old('calType') != null %} checked {% endif %}
              >
            </div>
            <div class="md-form d-none">
              <input type="text" id="factorCal" class="form-control comma" name="factorCal" value="">
              <label for="factorCal"> مبلغ محاسبه مبلغ فاکتور</label>
            </div>
        </div>
        
        {# end auto send #}
        {# Back to follow manager #}
        <div class="col-sm-4 mb-4 d-none">
          <h6>برگشت به مدیر پیگیری
          </h6>
          <input id="backToFollowManager" type="checkbox"
          
            data-toggle="switchbutton"
            data-onstyle="success"
            data-offstyle="danger"
            data-onlabel="فعال"
            data-offlabel="غیر فعال" name="backToFollowManager"
            {% if old('backToFollowManager') != null %} checked {% endif %}
            >
        </div>
        {# Back to follow manager #}
        {# Back to seller  #}
        <div class="col-sm-4 mb-4 d-none">
          <h6>برگشت به فروشنده
          </h6>
          <input id="backToSeller" type="checkbox"
          
            data-toggle="switchbutton"
            data-onstyle="success"
            data-offstyle="danger"
            data-onlabel="فعال"
            data-offlabel="غیر فعال" name="backToSeller"
            {% if old('backToSeller') != null %} checked {% endif %}
            >
        </div>
        {# Back to seller  #}
      </div>
    </div>
    <div class="col-12 mx-4 callcenterFields d-none">
      <div class="row">
            {# price calculation type #}
        <div class="col-sm-4 mb-4">
          <h6>نوع محاسبه هزینه کالا
          </h6>
          <input type="checkbox"
          
            data-toggle="switchbutton"
            data-onstyle="success"
            data-offstyle="info"
            data-onlabel="مبلغ فاکتور"
            data-offlabel="تعرفه تعیین شده" name="calTypeCallCenter"
            {% if old('calTypeCallCenter') != null %} checked {% endif %}
            >
        </div>
        {# price calculation type #}
        <div class="col-12"></div>
        {# امکان بارگذاری شماره #}
        <div class="col-sm-4 mb-4">
          <h6>امکان بارگذاری شماره
            <span class="text-danger">*</span>
          </h6>
          <div class="ckbx-style-11">
              <input type="checkbox"
               id="numberUpload" 
               value="active" name="allowNumber"
               {% if old('allowNumber') != null %} checked {% endif %}
               >
              <label for="numberUpload"></label>
          </div>
        </div>
        {# امکان بارگذاری شماره #}
          
        {# امکان وارد کردن شماره تکراری #}
        <div class="col-sm-4 mb-4">
          <h6>امکان وارد کردن شماره تکراری
            <span class="text-danger">*</span>
          </h6>
          <div class="ckbx-style-11">
              <input type="checkbox" 
              id="repeatedNumber" 
              value="active" name="allowNumberDup"
              {% if old('allowNumberDup') != null %} checked {% endif %}
              >
              <label for="repeatedNumber"></label>
          </div>
        </div>
        {# امکان وارد کردن شماره تکراری #}
        
        {# امکان وارد کردن سفارش از ثبت سفارش جدید #}
        <div class="col-sm-4 mb-4">
          <h6>امکان وارد کردن سفارش از ثبت سفارش جدید
            <span class="text-danger">*</span>
          </h6>
          <div class="ckbx-style-11">
              <input type="checkbox" 
              id="addOrderFromNewOrder" 
              value="active" name="allowNewOrder"
              {% if old('allowNewOrder') != null %} checked {% endif %}
              >
              <label for="addOrderFromNewOrder"></label>
          </div>
        </div>
        {# امکان وارد کردن سفارش از ثبت سفارش جدید #}

        {# امکان برگشت شماره #}
        <div class="col-sm-4 mb-4">
          <h6>امکان برگشت شماره
            <span class="text-danger">*</span>
          </h6>
          <div class="ckbx-style-11">
              <input type="checkbox" 
              id="numberReturn" 
              value="active" name="backToSeller"
              {% if old('backToSeller') != null %} checked {% endif %}
              >
              <label for="numberReturn"></label>
          </div>
        </div>
        {# امکان برگشت شماره #}
        {# امکان ویرایش شماره تلفن #}
        <div class="col-sm-4 mb-4">
          <h6>امکان ویرایش شماره تلفن
            <span class="text-danger">*</span>
          </h6>
          <div class="ckbx-style-11">
              <input type="checkbox" 
              id="editNumber" 
              value="active" name="allowNumberEdit"
              {% if old('allowNumberEdit') != null %} checked {% endif %}
              >
              <label for="editNumber"></label>
          </div>
        </div>
        {# امکان ویرایش شماره تلفن #}

        {# نمایش تاریخ دریافت پیامک #}
        <div class="col-sm-4 mb-4">
          <h6> نمایش تاریخ دریافت پیامک
            <span class="text-danger">*</span>
          </h6>
          <div class="ckbx-style-11">
              <input type="checkbox" 
              id="smsDate" 
              value="active" name="messageStatus"
              {% if old('messageStatus') != null %} checked {% endif %}
              >
              <label for="smsDate"></label>
          </div>
        </div>
        {# نمایش تاریخ دریافت پیامک #}
        {# نوع کال سنتر #}
        <div class="col-sm-4 mb-4">
          <h6>نوع کالسنتر</h6>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="callCenterType" value="normal" checked>معمولی
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="callCenterType" value="marketer">بازاریاب
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="callCenterType" value="channelDist">مویرگی
            </label>
          </div>
        </div>
      </div>
  
    </div>
  </div>

  <div class="row bg-white pt-2 pb-3 mt-5">
    <h4 class="col-12 pt-2 pb-3">
    اطلاعات مکان
    </h4>
    {# state #}
    <div class="col-sm-5  mt-5">
      <label for="state">استان
      </label>
      <select id="state" class="form-control"  name="state">
        <option value="{{null}}">استان را انتخاب کنید</option>
        {% for state in states %}
          <option {% if old('state') == state.id %} selected {% endif %} value="{{state.id}}">{{state.name}}</option>
        {% endfor %}
      </select>
    </div>
    {# city #}
    <div class="col-sm-5  mt-5">
      <label for="city">شهر
      </label>
      <select id="city" class="form-control" name="city">
        <option value="{{null}}">شهر را انتخاب کنید</option>
          {% for city in cities %}
            <option {% if old('city') == city.id %} selected {% endif %} value="{{city.id}}">{{city.name}}</option>
          {% endfor %}
      </select>
    </div>
    {# city  #}
    {# <div class="col-sm-5  mt-5">
      <select class="cities col-12 bg-white" name="state">
        {% for city in cities %}
          <optgroup class="bg-info" label="{{city.name}}">
              {% for state in city.states %}
                <option value="{{state.id}}">{{state.name}}</option>
              {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </div> #}
    {# شهر #}
    {# آدرس کامل #}
    <div class="md-form col-sm-7">
      <i class="fas fa-pencil-alt prefix text-dark"></i>
      <textarea name="address" id="form10" class="md-textarea form-control" rows="8" cols="80">{{old('address')}}</textarea>
      <label for="form10">آدرس کامل</label>
    </div>
    {# آدرس کامل #}


  </div>

  <div class="row bg-white pt-2 pb-3 mt-5">
    <h4 class="col-12 pt-2 pb-3">
    حساب کاربری
    </h4>
    {# نام کاربری #}
    <div class="col-sm-4 md-form mb-4">
        <input type="text" id="inputIconEx24" class="form-control" name="username" value="{{old('username')}}"  required>
        <label for="inputIconEx24">نام کاربری</label>
    </div>
    {# نام کاربری #}
    {# گذرواژه #}
    
    <div class="col-sm-4 md-form mb-4">
        <input type="password" id="inputIconEx25" class="form-control" name="password" value="{{old('password')}}" required>
        <label for="inputIconEx25">گذرواژه</label>
    </div>
    {# گذرواژه #}
    <div class="col-12"></div>
    {# وضعیت #}
    <div class="col-sm-4 mt-5">
      <h6>
        وضعیت کاربر

      </h6>
      <input type="checkbox"
        data-toggle="switchbutton"
        data-onstyle="success"
        data-offstyle="danger"
        data-onlabel="فعال"
        data-offlabel="غیر فعال" name="status" checked>
    </div>
    {# وضعیت #}
    
    <div class="col-12 text-center mt-5">
      <button class="btn btn-info" type="submit" name="button">
        <strong class="">
          افزودن کاربر
        </strong>
      </button>
    </div>
  </div>
</form>
{% endblock %}

{% block footer %}
  {% include 'Admin/Master/footer' %}
{% endblock %}

{% block scripts %}
  <script src="{{asset('AdminPanel/select2/select2.full.min.js')}}"></script>
  <script src="{{asset('AdminPanel/switch-button/bootstrap-switch-button.min.js')}}"></script>

  <script type="text/javascript">
  // In your Javascript (external .js resource or <script> tag)
  $(document).ready(function() {
      $('.cities').select2();
  });
  </script>
{% endblock %}
